<div class="page page-services" data-ng-controller="commissionEarningsRecordCtrls">
    <div class="panel panel-form-list  col-md-12">
        <div class="panel-heading"><strong>碼佣查詢</strong></div>
        <div class="panel-content">
            <form name="form_search">
                <table>
                    <tr height="50">
                        <td width="120"><span class="span-formlist">戶口編號：</span></td>
                        <td width="209"><input type="text" data-input-uppercase data-ng-model="condition.agentInfo.agent_code" class="form-control"></td>
                        <td width="94">&nbsp;</td>
                        <td width="120"><span class="span-formlist">戶口姓名：</span></td>
                        <td width="209"><input type="text" data-ng-model="condition.agentMaster.agent_contact_name" class="form-control"></td>
                        <td width="94">&nbsp;</td>
                        <td width="100"><span class="span-formlist">月份：</span></td>
                        <td width="209"><!-- Split button -->
                            <p class="input-group ui-datepicker">
                                <input type="text" class="form-control" datepicker-popup datepicker-mode="month" ng-model="condition.year_month[0]" />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                            </p>
                        </td>
                    </tr>
                </table><br/><br/>
                <div class="row" style="text-align: center;">
                    <button class="btn btn-info btn-information margin-right-15" data-ng-click = "search()">查詢</button>
                    <button class="btn btn-inf btn-cancel" data-ng-click="reset()">重置</button>
                </div>
            </form>
        </div>
        <div class="panel-footer">
        </div>
    </div>

    <div class="panel panel-list-detail col-md-12">
        <div class="panel-heading">
            <strong>碼佣記錄</strong>
            <button class="btn btn-info btn-information pull-right" ng-click="search()">&nbsp;&nbsp;&nbsp;&nbsp;導出EXCEL&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <!--button class="btn btn-info btn-information margin-right-15 pull-right" ng-click="search()">導出EXCEL</button-->
        </div>
        <div class="panel-content">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <td>戶口編號</td>
                    <td>戶口姓名</td>
                    <td>月份</td>
                    <td>碼佣收益</td>
                    <td>津貼</td>
                    <td width="120" check-permissions="commissionEarningsRecordView" >操作</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="commission_earning in commission_earnings" data-selected-rows>
                    <td>{{commission_earning.agent_code}}</td>
                    <td>{{commission_earning.agent_name}}</td>
                    <td>{{commission_earning.year_month|parseDate:'yyyy-MM'}}</td>
                    <td>{{commission_earning.commission_total|parseDollar:true}}</td>
                    <td>{{commission_earning.thismonth_allowance|parseDollar:true}}</td>
                    <td check-permissions="commissionEarningsRecordView">
                        <button class="btn btn-information btn-table" data-ng-click="detail(commission_earning.agent_code)" check-permissions="commissionEarningsRecordView">查看</button>
                    </td>
                </tr>
                <tr data-ng-show="commission_earnings.length == 0">
                    <td colspan="6">暫無符合條件的記錄</td>
                </tr>
                </tbody>
            </table>
            <footer class="table-footer">
                <div class="text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="pagination.page"
                                total-items="pagination.total_items"
                                on-select-page="select(page)"
                                max-size = "pagination.max_size"
                                items-per-page = "pagination.items_per_page"
                                data-ng-hide="pagination.total_items <= pagination.items_per_page"></pagination>
                    <paginationselect pageCtrl="pagination" select-page="select"></paginationselect>
                </div>
            </footer>
        </div>
    </div>
</div>