<div ng-class='{"col-md-12":popupWindow==true,"col-md-4":popupWindow==false}' check-permissions="consumptionCreate">
<div class="panel panel-form-list">
<div class="panel-content">
    <div class="panel-heading" ng-show="popupWindow">
      <strong class="pull-left">租車修改</strong>
    </div>
    <form name="$parent.form_car" class="ng-valid ng-dirty form-validation" server-validation="{{sub_post_put}}{{car_url}}">
        <table>
            <tbody>
            <tr height="50">
                <td class="text-right"  width="90" min-screen-width="80">預訂單號：</td>
                <td class="text-left"  width="150" min-screen-width="145">
                    <input type="text" data-ng-model="carBooking.consumption.book_no" name="consumption_book_no" class="form-control"  data-input-uppercase></td>
                <td class="text-right" width="90" min-screen-width="80">所屬廳館：</td>
                <td class="text-left" width="160" min-screen-width="135">
                    <span data-ng-show="'PUT'==sub_post_put">{{ agent_about.hall_name }}</span>
                    <span data-ng-show="'POST'==sub_post_put">{{ user.hall.hall_name}}</span>
                </td>
            </tr>
            <tr height="50">
                <td class="text-right">戶口編號：</td>
                <td class="text-left">
                    <span data-ng-show="'PUT'==sub_post_put && !COPY_BOOKING_car">{{ agent_about.agent_code }}</span>
                    <input data-ng-show="'POST'==sub_post_put || COPY_BOOKING_car" type="text" data-input-uppercase name="agent_info_id" data-ng-model="agent_about.agent_code" class="form-control"></td>
                <td class="text-right">戶口姓名：</td>
                <td class="text-left">{{agent_about.agent_name}}</td>
            </tr>
            <tr height="50">
              <td class="text-right">年月：</td>
              <td class="text-left">
                <p class="input-group ui-datepicker">
                  <input type="text" class="form-control input-92" name="consumption_year_month" datepicker-popup datepicker-mode="month" ng-model="carBooking.consumption.year_month"  date-disabled="disabled(date, mode)" close-text="Close" ng-disabled="COPY_BOOKING_car"/>
    <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-datepicker" ng-click="open($event,1)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
                </p>
              </td>
            </tr>
            <tr height="50">
                <td class="text-right">結算日期：</td>
                <td class="text-left">
                    <p class="input-group ui-datepicker">
                        <input type="text" class="form-control input-92" name="consumption_shift_date" datepicker-popup="{{format}}" ng-model="carBooking.consumption.shift_date"  date-disabled="disabled(date, mode)" close-text="Close" ng-disabled="COPY_BOOKING_car" />
    <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-datepicker" min-screen-width="10" ng-click="open($event,1)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
                    </p>
                </td>
                <td class="text-right">更數：</td>
                <td class="text-left">
                    <select name="consumption_shift" class="form-control" data-ng-model="carBooking.consumption.shift" ng-disabled="COPY_BOOKING_car">
                        <option value="">請選擇更數</option>
                        <option value="早更">{{shiftLists.morning}}</option>
                        <option value="中更">{{shiftLists.afternoon}}</option>
                        <option value="晚更">{{shiftLists.evening}}</option>
                    </select>
                </td>
            </tr>


            </tbody>
        </table>
        <table class="BGcolor-626571" width="100%">
            <tbody>
            <tr height="50">
                <!--<td class="text-right" width="100" min-screen-width="63">供應商：</td>-->
                <!--<td class="text-left" width="160" min-screen-width="81">-->
                    <!--<select name="hotel_travel_id" class="form-control" data-ng-model="carBooking.hotel_travel_id" ng-options="n.id as n.name for n in consumptionHoteltravels | filter:{'hotel_travel_type':'2'}" ng-disabled="COPY_BOOKING_car">-->
                        <!--<option value="">請選擇供應商</option>-->
                    <!--</select>-->
                <!--</td>-->
                <td class="text-right" width="100" min-screen-width="63">車輛類型：</td>
                <td class="text-left" colspan="3">
                    <select name="car_type_id" class="form-control " data-ng-model="carBooking.car_type_id" data-ng-options="n.id as n.car_type for n in car_types" ng-disabled="COPY_BOOKING_car">
                        <option value="">請選擇車輛類型</option>
                    </select>
                </td>
                <!--<td class="text-right" width="100" min-screen-width="64">&nbsp;</td>-->
                <!--<td class="text-left" width="160" min-screen-width="115">&nbsp;</td>-->
                <td width="20" min-screen-width="2"></td>
            </tr>
            <tr height="50">
                <td class="text-right" width="100" min-screen-width="63">租車日期：</td>
                <td class="text-left" width="160" min-screen-width="110">
                    <p class="input-group ui-datepicker" >
                        <input type="text" class="form-control input-92" name="departure_date" datepicker-popup="{{format}}" ng-model="carBooking.departure_date"  date-disabled="disabled(date, mode)" close-text="Close" ng-disabled="COPY_BOOKING_car" />
    <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-datepicker" min-screen-width="10" ng-click="open($event,0)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
                    </p>

                </td>
                <td class="text-right" width="100" min-screen-width="64">租車時間：</td>
                <td class="text-left" width="165" min-screen-width="115">
                    <div class=" pull-left form-inline input-group ui-datepicker">
                        <div class="form-group">
                            <input size="6" class="form-control input-01"
                                   data-ng-required="enableClientValidation"
                                   ng-model="carBooking.departure_time"
                                   name="departure_time"
                                   ng-disabled="COPY_BOOKING_car"
                                   style="width:140px;"
                                   min-screen-width="80" type="text">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr height="50">
                <td class="text-right">行程：</td>
                <td class="text-left" colspan="3">
                    <input type="text" data-ng-model="carBooking.trip" name="trip" class="form-control pull-left" ng-disabled="COPY_BOOKING_car" style="width: 80%; margin-right: 10px;">
                    <button class="btn btn-information btn-table pull-left" phrasebooktis="car_trip" insertmodel="trip" type="button" >常用</button>
                </td>
                <!--td class="text-right" width="100">去程目的地：</td>
                <td class="text-left"><input type="text" data-ng-model="agent_about.to_place" name="to_place" class="form-control"></td-->

            </tr>
            <tr height="50">
                <td class="text-right">預訂數量：</td>
                <td class="text-left" colspan="3">
                    <div class="input-group ui-spinner" data-ui-spinner  data-ng-model="carBooking.count">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" data-spin="down" ng-disabled="COPY_BOOKING_car">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </span>
                        <input type="text" data-min="1" class="spinner-input form-control" name="count" data-ng-model="carBooking.count" ng-disabled="COPY_BOOKING_car">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" data-spin="up" ng-disabled="COPY_BOOKING_car">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                        &nbsp;&nbsp;
                    </div>
                </td>
            </tr>
            <tr height="40">
                <td class="text-right">訂票人：</td>
                <td class="text-left"><input type="text" data-ng-model="carBooking.consumption.trader" name="consumption_trader" class="form-control" ng-disabled="COPY_BOOKING_car" list="car_agent_list"></td>
                <td class="text-right">電話：</td>
                <td class="text-left">
                    <div class="pull-left" style="width: 57px;" min-screen-width="55">
                        <select class="form-control no-padding" data-ng-model="carBooking.consumption.area_code_id" name="consumption_area_code_id" data-ng-options="n.id as n.area_code for n in areaCodes" data-ng-disabled="COPY_BOOKING_car">
                            <option value="">區號</option>
                        </select>
                    </div>
                    <div class="pull-left" style="width: 102px;" min-screen-width="62">
                        <input type="text" data-ng-model="carBooking.consumption.trader_tel" name="consumption_trader_tel" class="form-control" ng-disabled="COPY_BOOKING_car" list="car_tel_list">
                    </div>
                </td>
                <td width="20" min-screen-width="2">&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <table width="100%">
            <tbody>
            <tr height="50">
                <td class="text-right" width="100">成本單價：</td>
                <td class="text-left" width="160"><input type="text" data-ng-model="carBooking.cost" name="cost" class="form-control" ng-disabled="COPY_BOOKING_car"></td>
                <td class="text-right" width="100">實收單價：</td>
                <td class="text-left" width="160"><input type="text" data-ng-model="carBooking.sell" name="sell" class="form-control" ng-disabled="COPY_BOOKING_car"></td>
                <td width="20"></td>
            </tr>
            <tr height="50">
                <td class="text-right">成本總數：</td>
                <td class="text-left">{{car_total.cost | parseYuan :false}}</td>
                <td class="text-right">實收總數：</td>
                <td class="text-left">{{car_total.sell | parseYuan :false}}</td>
            </tr>
            <tr height="50">
                <td class="text-right">收益：</td>
                <td class="text-left" colspan="3">{{car_total.profit | parseYuan :false}}</td>
            </tr>
            </tbody>
        </table>
        <table class="BGcolor-626571" width="100%">
            <tbody>
            <tr height="40">
                <td class="text-right" width="100">應付消費：</td>
                <td class="text-left" width="160"><input type="text" name="consumption_should_pay" data-ng-model="carBooking.consumption.should_pay" class="form-control"></td>
                <td class="text-right" width="100">付款方式：</td>
                <td class="text-left" width="160">
                    <select name="consumption_pay_type_id" class="form-control" data-ng-model="carBooking.consumption.pay_type_id" data-ng-options="n.id as n.pay_type_name for n in pay_types" ng-disabled="COPY_BOOKING_car">
                        <option value="">請選擇付款方式</option>
                    </select>
                </td>
            </tr>
            <tr height="100">
                <td valign="top" class="text-right">
                    備註：<br>
                    <button class="btn btn-information btn-table margin-right-5" phrasebooktis="car" insertmodel="carBooking_consumption_remark" type="button" >常用</button>
                </td>
                <td colspan="3"  valign="top">
                  <div class="text-right">
                    <button class="btn btn-information btn-table text-right"type="button" ng-click="creatremark()">生成備註</button>
                  </div>
                  <textarea id="remark" class="form-control textarea-table01 ng-pristine ng-valid" rows="4" data-ng-model="carBooking.consumption.remark" name="carBooking_consumption_remark"></textarea></td>
                <td width="20"></td>
            </tr>

            </tbody>
        </table>
        <!--<table>
            <tr height="50">
                <td class="text-right">操作密碼：</td>
                <td class="text-left"><input type="password" data-ng-model="carBooking.pin_code" name="pin_code" class="form-control input-140" data-enter-key="add()" data-ng-disabled="is_locked"></td>
                <td>
                    <button class="btn btn-information btn-table margin-right-5" data-ng-hide="is_locked" style="margin-left: 20px;" ng-click="agent_locked(true)">鎖定</button>
                    <button class="btn btn-information btn-table margin-right-5" data-ng-show="is_locked" style="margin-left: 20px;" ng-click="agent_locked(false)">解鎖</button>
                </td>
                <td ><span class="red">{{ agent_about.username }}</span></td>
                <td width="20"></td>
            </tr>
            </tbody>
        </table>-->
        <table ng-show="popupWindow">
          <tr height="50">
            <td class="text-right" width="100">操作密碼：</td>
            <td class="text-left" width="160"><input type="password" name="pin_code" data-ng-model="carBooking.pin_code" class="form-control" data-enter-key="add()" ></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <br>
        <div class="row" style="text-align: center;">
            <button class="btn  btn-confirm margin-right-15" ng-show="'PUT' != sub_post_put && (user.hall.hall_type != 3 || user.hall.id == '03A667A339366225E0539715A8C018ED')" data-ng-disabled="isDisabled" data-ng-click="add(true)" type="button">提交并發送短訊</button>
            <button class="btn btn-confirm margin-right-15" check-permissions="consumptionCreate" data-ng-disabled="isDisabled" data-ng-click="add()" type="button">提 交</button>
            <button class="btn btn-cancel" data-ng-click="cancel()" type="button">取 消</button>
        </div>
    </form>
</div>
</div>
    <datalist id="car_tel_list">
        <option ng-repeat="tel_list in car_tel_list" value="{{ tel_list.telephone_number }}">
    </datalist>
<datalist id="car_agent_list">
    <option ng-repeat="agent_list in car_agent_list" value="{{ agent_list.agent_guest_name }}">
</datalist>
</div>
