<div class="panel panel-default">
<div class="col-md-4">
    <div class="panel panel-form-list">
        <div class="panel-content">
            <table>
                <tbody>
                <tr height="50">
                    <td class="text-right" width="100">消費單號：</td>
                    <td class="text-left" width="160">&nbsp;</td>
                    <td class="text-right" width="100">航程類型：</td>
                    <td class="text-left" width="160"><checkbox  ng-model="model1" data-ng-click = "check('model1',200,1)">往 返</checkbox></td>
                </tr>
                <tr height="50">
                    <td class="text-right">預訂單號：</td>
                    <td class="text-left"><input type="text" data-ng-model="air.dan" class="form-control"></td>
                    <td class="text-right">所屬廳館：</td>
                    <td class="text-left">
                        <!--ui-select ng-model="air.hall">
                            <ui-select-match placeholder="請選擇廳館">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="hall in halls">
                                <div ng-bind-html="hall"></div>
                            </ui-select-choices>
                        </ui-select-->
                        <select name="hall" class="form-control" data-ng-model="air.hall" data-ng-options="n.id as n.hall_name for n in halls " >
                            <option value="">請選擇廳館</option>
                        </select>
                    </td>
                </tr>
                <tr height="50">
                    <td class="text-right">戶口編號：</td>
                    <td class="text-left"><input type="text" data-ng-model="air.agent_code" class="form-control"></td>
                    <td class="text-right">戶口姓名：</td>
                    <td class="text-left">{{air.agent_name}}</td>
                </tr>
                <tr height="50">
                    <td class="text-right">消費類型：</td>
                    <td class="text-left"> <ui-select ng-model="air.consumption_type">
                        <ui-select-match placeholder="請選擇消費類型">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="consumption_type in ['MGM','UO','鉅星旅行社','永利','新葡京','舊葡京','銀河']">
                            <div ng-bind-html="consumption_type"></div>
                        </ui-select-choices>
                    </ui-select></td>
                    <td class="text-right">&nbsp;</td>
                    <td class="text-left">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <br>
            <table class="BGcolor-626571" width="100%">
                <tbody>
                <tr height="50">
                    <td class="text-right" width="100">去程出發地：</td>
                    <td class="text-left" width="160"><input type="text" data-ng-model="air.chuf" class="form-control"></td>
                    <td class="text-right" width="100">去程目的地：</td>
                    <td class="text-left"><input type="text" data-ng-model="air.mudi" class="form-control"></td>
                    <td width="20">&nbsp;</td>
                </tr>
                <tr height="50">
                    <td class="text-right">出发日期：</td>
                    <td class="text-left">
                        <p class="input-group ui-datepicker">
                            <input type="text" class="form-control input-92" datepicker-popup="{{format}}" ng-model="air.created_end_time" is-open="opened"  date-disabled="disabled(date, mode)" close-text="Close" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-datepicker" ng-click="open($event,1)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </td>
                    <td class="text-right">出发時間：</td>
                    <td class="text-left"><input type="text" data-ng-model="air.time" class="form-control"></td>
                    <td width="20">&nbsp;</td>
                </tr>
                <tr height="50">
                    <td class="text-right">航班編號：</td>
                    <td class="text-left"><input type="text" data-ng-model="air.hao" class="form-control"></td>
                    <td class="text-right">艙位：</td>
                    <td class="text-left">
                        <ui-select ng-model="air.position">
                            <ui-select-match placeholder="請選擇艙位">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="position in ['6人位','4人位','經濟位','豪華位','貴賓位']">
                                <div ng-bind-html="position"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td width="20">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <br>
            <table width="100%">
                <tbody>
                <tr height="50">
                    <td class="text-right" width="100">預訂數量：</td>
                    <td class="text-left" width="160">
                        <div class="input-group ui-spinner" data-ui-spinner>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-spin="down">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </span>
                            <input type="text" class="spinner-input form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" data-spin="up">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                            &nbsp;&nbsp;
                        </div>
                    </td>
                    <td class="text-right" width="100">&nbsp;</td>
                    <td class="text-left" width="160">&nbsp;</td>
                </tr>
                <tr height="50">
                    <td class="text-right">成本單價：</td>
                    <td class="text-left"><input type="text" data-ng-model="air.danjia" class="form-control"></td>
                    <td class="text-right">實收單價：</td>
                    <td class="text-left"><input type="text" data-ng-model="air.shishou" class="form-control"></td>
                </tr>
                <tr height="50">
                    <td class="text-right">成本總數：</td>
                    <td class="text-left">0</td>
                    <td class="text-right">實收總數：</td>
                    <td class="text-left">0</td>
                </tr>
                <tr height="50">
                    <td class="text-right">收益：</td>
                    <td class="text-left">0</td>
                    <td class="text-right">&nbsp;</td>
                    <td class="text-left">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <table class="BGcolor-626571">
                <tbody>
                <tr height="50">
                    <td width="81" class="text-right">客人名稱：</td>
                    <td width="100"><input type="text" data-ng-model="air.aguest_name" class="form-control"></td>
                    <td width="81" class="text-right">證件類型：</td>
                    <td width="95">
                        <ui-select ng-model="condition.hall">

                        <ui-select ng-model="air.certificate_type">
                            <ui-select-match placeholder="證件類型">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="certificate_type in ['身份證','護照']">
                                <div ng-bind-html="certificate_type"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td width="81" class="text-right">證件號碼：</td>
                    <td width="100"><input type="text" data-ng-model="air.haoma" class="form-control"></td>
                    <td width="20">&nbsp;</td>
                </tr>
                <tr height="50">
                    <td width="81" class="text-right">客人名稱：</td>
                    <td><input type="text" data-ng-model="air.aguest_name1" class="form-control"></td>
                    <td width="81" class="text-right">證件類型：</td>
                    <td width="95">

                        <ui-select ng-model="air.certificate_type1">
                            <ui-select-match placeholder="證件類型">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="certificate_type in ['身份證','護照']">
                                <div ng-bind-html="certificate_type"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td width="81" class="text-right">證件號碼：</td>
                    <td width="100"><input type="text" data-ng-model="air.haoma1" class="form-control"></td>
                    <td>&nbsp;</td>
                </tr>
                <tr height="50">
                    <td width="81" class="text-right">客人名稱：</td>
                    <td><input type="text" data-ng-model="air.aguest_name2" class="form-control"></td>
                    <td width="81" class="text-right">證件類型：</td>
                    <td width="95">

                        <ui-select ng-model="air.certificate_type2">
                            <ui-select-match placeholder="證件類型">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="certificate_type in ['身份證','護照']">
                                <div ng-bind-html="certificate_type"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td width="81" class="text-right">證件號碼：</td>
                    <td width="100"><input type="text" data-ng-model="air.haoma2" class="form-control"></td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <table>
                <tr height="50">
                    <td class="text-right">付款方式：</td>
                    <td class="text-left">
                        <ui-select ng-model="air.payment_type">
                            <ui-select-match placeholder="請選擇付款方式">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="payment_type in ['積分','佣金','存卡','現金']">
                                <div ng-bind-html="payment_type"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr height="50">
                    <td class="text-right" width="100">訂票人：</td>
                    <td class="text-left" width="160"><input type="text" data-ng-model="air.booker" class="form-control"></td>
                    <td class="text-right" width="100">電話：</td>
                    <td class="text-left"><input type="text" data-ng-model="air.phone" class="form-control"></td>
                </tr>
                <tr>
                    <td valign="top" class="text-right">
                        備註：<br>
                        <button class="btn  btn-information btn-table btn-remark">常用</button>
                    </td>
                    <td colspan="3"><textarea id="remark" class="form-control textarea-table01 ng-pristine ng-valid" rows="4" data-ng-model="air.remark" name=""></textarea></td>
                </tr>
                <tr height="50">
                    <td class="text-right">操作密碼：</td>
                    <td colspan="3" class="text-left"><input type="text" data-ng-model="air.pwd" class="form-control input-140" data-enter-key="update()"></td>
                </tr>
                </tbody>
            </table>
            <br>
            <div class="row" style="text-align: center;">
                <button class="btn  btn-confirm margin-right-15" data-ng-click="update()">提 交</button>
                <button class="btn  btn-cancel" data-ng-click="check('消費轉移')">取 消</button>
            </div>
        </div>
    </div>
</div>
<div class="panel_l col-md-8">
    <div class="panel">
        <div class="panel-content">
            <div class="panel panel-form-list">
                <div class="panel-content">
                    <form name="form_search">
                        <table>
                            <tr height="50">
                                <td width="150" class="text-right">消費單號：</td>
                                <td width="209"><input type="text" data-ng-model="condition3.dan" class="form-control"></td>

                                <td width="150" class="text-right">所屬廳館：</td>
                                <td width="160">
                                    <ui-select ng-model="condition3.hall">
                                        <ui-select-match placeholder="請選擇廳館">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="hall in halls">
                                            <div ng-bind-html="hall"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>

                                <td width="150" class="text-right">戶口編號：</td>
                                <td width="160"><input type="text" data-ng-model="condition3.agent_code" class="form-control"></td>
                            </tr>
                            <tr height="50">
                                <td class="text-right">戶口姓名：</td>
                                <td><input type="text" data-ng-model="condition3.agent_name" class="form-control"></td>
                                <td class="text-right">消費類型：</td>
                                <td>
                                    <ui-select ng-model="condition3.consumption_type">
                                        <ui-select-match placeholder="請選擇消費類型">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="consumption_type in ['MGM','UO','鉅星旅行社','永利','新葡京','舊葡京','銀河']">
                                            <div ng-bind-html="consumption_type"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td class="text-right">航程類型：</td>
                                <td><checkbox  ng-model="condition3.airmodel1" data-ng-click = "check('model1',200,1)">往 返</checkbox></td>
                            </tr>
                            <tr height="50">
                                <td class="text-right">訂票人：</td>
                                <td><input type="text" data-ng-model="condition3.booker" class="form-control"></td>

                                <td class="text-right">電話：</td>
                                <td><input type="text" data-ng-model="condition3.phone" class="form-control"></td>

                                <td class="text-right">客人名稱：</td>
                                <td><input type="text" data-ng-model="condition3.aguest_name" class="form-control"></td>
                            </tr>
                        </table>
                        <br><br><br>
                        <div class="row" style="text-align: center;">
                            <button class="btn  btn-information margin-right-15" ng-click="search()">查詢</button>
                            <button class="btn  btn-cancel" data-ng-click="searchReset()">重置</button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">

                </div>
            </div>
            <div class="panel panel-list-detail">
                <div class="panel-content">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <td>消費單號</td>
                            <td>預訂單號</td>
                            <td>所屬廳館</td>
                            <td>戶口編號</td>
                            <td>戶口姓名</td>
                            <td>航程類型</td>
                            <td>訂票人</td>
                            <td>電話</td>
                            <td>狀態</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>226540</td>
                            <td>52342169</td>
                            <td>永利鉅星</td>
                            <td>FA233</td>
                            <td>李達文</td>
                            <td>單程</td>
                            <td>陳明</td>
                            <td>15845472322</td>
                            <td>未核對</td>
                            <td class="no-padding">
                                <button class="btn  btn-information btn-table margin-right-5" data-ng-click="">詳細</button>
                                <button class="btn  btn-confirm btn-table" data-ng-click="">修改</button>
                            </td>

                        </tr>
                        <tr>
                            <td>226539</td>
                            <td>52342130</td>
                            <td>永利鉅星</td>
                            <td>FA233</td>
                            <td>李達文</td>
                            <td>單程</td>
                            <td>李洪</td>
                            <td>13225472323</td>
                            <td>未核對</td>
                            <td class="no-padding">
                                <button class="btn  btn-information btn-table margin-right-5" data-ng-click="">詳細</button>
                                <button class="btn  btn-confirm btn-table" data-ng-click="">修改</button>
                            </td>

                        </tr>
                        <tr>
                            <td>226538</td>
                            <td>52342088</td>
                            <td>永利鉅星</td>
                            <td>F8</td>
                            <td>王大文</td>
                            <td>往返</td>
                            <td>王曉光</td>
                            <td>13124152324</td>
                            <td>未核對</td>
                            <td class="no-padding">
                                <button class="btn  btn-information btn-table margin-right-5" data-ng-click="">詳細</button>
                                <button class="btn  btn-confirm btn-table" data-ng-click="">修改</button>
                            </td>

                        </tr>
                        <tr>
                            <td>226537</td>
                            <td>52342056</td>
                            <td>永利鉅星</td>
                            <td>FA112</td>
                            <td>鐘達</td>
                            <td>單程</td>
                            <td>吳益民</td>
                            <td>16585472325</td>
                            <td>已核對</td>
                            <td class="no-padding">
                                <button class="btn  btn-information btn-table margin-right-5" data-ng-click="">詳細</button>
                                <button class="btn  btn-confirm btn-table" data-ng-click="">修改</button>
                            </td>
                        </tr>
                        <tr>
                            <td>226536</td>
                            <td>52342012</td>
                            <td>永利鉅星</td>
                            <td>FA8</td>
                            <td>吳清</td>
                            <td>單程</td>
                            <td>陳毅</td>
                            <td>13255472326</td>
                            <td>已核對</td>
                            <td class="no-padding">
                                <button class="btn  btn-information btn-table margin-right-5" data-ng-click="">詳細</button>
                                <button class="btn  btn-confirm btn-table" data-ng-click="">修改</button>
                            </td>

                        </tr>
                        <tr>
                            <td>226535</td>
                            <td>52342008</td>
                            <td>永利鉅星</td>
                            <td>FA8</td>
                            <td>吳清</td>
                            <td>往返</td>
                            <td>錢朱峰</td>
                            <td>15154212327</td>
                            <td>已核對</td>
                            <td class="no-padding">
                                <button class="btn  btn-information btn-table margin-right-5" data-ng-click="">詳細</button>
                                <button class="btn  btn-confirm btn-table" data-ng-click="">修改</button>
                            </td>

                        </tr>
                        <tr>
                            <td>226534</td>
                            <td>52341968</td>
                            <td>永利鉅星</td>
                            <td>FA203</td>
                            <td>陳好</td>
                            <td>往返</td>
                            <td>霍佳樂</td>
                            <td>13225472328</td>
                            <td>已核對</td>
                            <td class="no-padding">
                                <button class="btn  btn-information btn-table margin-right-5" data-ng-click="">詳細</button>
                                <button class="btn  btn-confirm btn-table" data-ng-click="">修改</button>
                            </td>

                        </tr>
                        <tr>
                            <td>226533</td>
                            <td>52341932</td>
                            <td>永利鉅星</td>
                            <td>F8</td>
                            <td>王大文</td>
                            <td>單程</td>
                            <td>吳三聖</td>
                            <td>15245632329</td>
                            <td>已核對</td>
                            <td class="no-padding">
                                <button class="btn  btn-information btn-table margin-right-5" data-ng-click="">詳細</button>
                                <button class="btn  btn-confirm btn-table" data-ng-click="">修改</button>
                            </td>

                        </tr>
                        <tr>
                            <td>226532</td>
                            <td>52341911</td>
                            <td>永利鉅星</td>
                            <td>FA408</td>
                            <td>李強</td>
                            <td>往返</td>
                            <td>金葉</td>
                            <td>13242472330</td>
                            <td>已核對</td>
                            <td class="no-padding">
                                <button class="btn  btn-information btn-table margin-right-5" data-ng-click="">詳細</button>
                                <button class="btn  btn-confirm btn-table" data-ng-click="">修改</button>
                            </td>

                        </tr>
                        <tr>
                            <td>226531</td>
                            <td>52341877</td>
                            <td>永利鉅星</td>
                            <td>H11</td>
                            <td>李鑫</td>
                            <td>往返</td>
                            <td>陳建明</td>
                            <td>15845472331</td>
                            <td>已核對</td>
                            <td class="no-padding">
                                <button class="btn  btn-information btn-table margin-right-5" data-ng-click="">詳細</button>
                                <button class="btn  btn-confirm btn-table" data-ng-click="">修改</button>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                    <footer class="table-footer">
                        <div class="text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="current_page"
                                        total-items="all_buyChips.length"
                                        on-select-page="select(page)"
                                        data-ng-show="buyChips.length != 0"></pagination>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
</div>