<div class="panel_l col-md-8">
<div class="panel">
<div class="panel-content">
    <div class="panel panel-form-list">
        <div class="panel-content">
            <form name="form_search">
                <table>
                    <tr height="50">
                        <td width="150" class="text-right" min-screen-width="120">所屬廳館：</td>
                        <td width="160" min-screen-width="180">
                            <select data-ng-show="user.isAllHall()" name="hall_id" class="form-control" data-ng-model="condition_ticket.hall_id"
                                    data-ng-options="n.id as n.hall_name for n in halls ">
                                <option value="">請選擇廳館</option>
                            </select>
                            <span  data-ng-hide="user.isAllHall()">{{user.hall.hall_name}}</span>
                        </td>
                        <td width="150" class="text-right">預訂單號：</td>
                        <td width="160"><input type="text" name="consumption_book_no" data-ng-model="condition_ticket.consumption.book_no" class="form-control" data-input-uppercase></td>
                        <td width="130">&nbsp;</td>
                        <td class="text-right"  width="130">門票類型：</td>
                        <td  width="180">
                            <select name="ticket_type_id" class="form-control" data-ng-model="condition_ticket.ticket_type_id" data-ng-options="n.id as n.ticket_type for n in ticket_types" >
                                <option value="">門票類型</option>
                            </select>
                        </td>
                    </tr>
                    <tr height="50">

                        <td width="150" class="text-right">戶口編號：</td>
                        <td width="160"><input type="text" name="agent_code" data-input-uppercase data-ng-model="condition_ticket.agentInfo.agent_code" class="form-control"></td>
                        <td class="text-right">戶口姓名：</td>
                        <td>{{ condition_ticket.agentMaster.agent_contact_name  }}<!--input type="text" name="agent_contact_name" data-ng-model="condition_ticket.agentMaster.agent_contact_name" class="form-control"--></td>
                        <td width="130">&nbsp;</td>
                        <td class="text-right">訂票人：</td>
                        <td><input type="text" data-ng-model="condition_ticket.consumption.trader" class="form-control"></td>


                    </tr>
                    <!--<tr height="50">
                        <td class="text-right">供應商：</td>
                        <td>
                            <select name="consumption_type_id" class="form-control" data-ng-model="condition_ticket.hotel_travel_id" ng-options="n.id as n.name for n in consumptionHoteltravels  | filter:{'hotel_travel_type':'2'}">
                                <option value="">請選擇供應商</option>
                            </select>
                        </td>
                        <td class="text-right">門票類型：</td>
                        <td>
                            <select name="ticket_type_id" class="form-control" data-ng-model="condition_ticket.ticket_type_id" data-ng-options="n.id as n.ticket_type for n in ticket_types" >
                                <option value="">門票類型</option>
                            </select>
                        </td>

                    </tr>-->
                    <tr>
                        <td class="text-right">付款方式：</td>
                        <td>
                            <select name="consumption_pay_type_id" class="form-control" data-ng-model="condition_ticket.consumption.pay_type_id" data-ng-options="n.id as n.pay_type_name for n in pay_types">
                                <option value="">請選擇付款方式</option>
                            </select>
                        </td>
                        <td class="text-right">結算日期：</td>
                        <td colspan="2">
                            <div class=" pull-left form-inline input-group ui-datepicker">
                                <div class="form-group">
                                    <input size="9" class="form-control input-01"
                                           ng-model="condition_ticket.consumption.shift_date[0]"
                                           data-ng-required="enableClientValidation"
                                           style="width:120px;"
                                           bs-datepicker type="text">
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                            <span class="pull-left">&nbsp;~&nbsp;</span>
                            <div class=" pull-left form-inline input-group ui-datepicker">
                                <div class="form-group">
                                    <input size="9" class="form-control input-01"
                                           ng-model="condition_ticket.consumption.shift_date[1]"
                                           data-ng-required="enableClientValidation"
                                           style="width:120px;"
                                           bs-datepicker type="text">
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </td>
                        <td align="right">備註：</td>
                        <td width="150"><input type="text" class="form-control" data-ng-model="condition_ticket.consumption.remark"> </td>
                    </tr>
                </table>
                <br><br><br>
                <div class="row" style="text-align: center;">
                    <button class="btn  btn-information margin-right-15" ng-click="ticket_search()">查詢</button>
                    <button class="btn  btn-cancel" data-ng-click="ticket_search_reset()">重置</button>
                </div>
            </form>
        </div>
        <div class="panel-footer">

        </div>
    </div>
    <div class="panel panel-list-detail">
        <div class="panel-content" style="position: relative">
            <perfect-scrollbar class="animate-fade-up consumption_record" style="position: relative; overflow: hidden;" suppress-scroll-x="false" wheel-propagation="true" wheel-speed="50">
                <div class="panel-content consumption_record  table-dynamic"  style="min-height: 100px; width: 3000px;">
                    <table class="table table-bordered table-striped table-hover" width="100%">
                        <thead>
                        <tr>
                            <td width="210" min-screen-width="150">操作</td>
                            <!--<td>消費單號</td>-->
                            <td>預訂單號</td>
                            <td>所屬廳館</td>
                            <td data-td-sort data-td-sort-up="agentInfo.agent_code NUMASC" data-td-sort-down="agentInfo.agent_code NUMDESC" data-td-sort-select="ticket_search" data-td-sort-pagination="ticket_page">戶口編號</td>
                            <td>戶口姓名</td>
                            <td>訂票人</td>
                            <!--<td>供應商</td>-->
                            <td>門票類型</td>
                            <td>演出日期</td>
                            <td>演出時間</td>
                            <td>成本</td>
                            <td>實收</td>
                            <td>收益</td>
                            <td>應付消費</td>
                            <td>付款方式</td>
                            <td>新增時間</td>
                            <td width="1000">備註</td>

                            <td data-td-sort data-td-sort-up="consumption.shift_date ASC" data-td-sort-down="consumption.shift_date DESC" data-td-sort-select="ticket_search" data-td-sort-pagination="ticket_page">年月</td>
                            <td data-td-sort data-td-sort-up="consumption.shift_date ASC" data-td-sort-down="consumption.shift_date DESC" data-td-sort-select="ticket_search" data-td-sort-pagination="ticket_page">結算日期</td>
                            <td>更數</td>
                            <td>狀態</td>
                            <td>經手人</td>

                        </tr>
                        </thead>
                        <tbody>
                        <tr date- data-ng-repeat="ticketBooking in ticketBookings" data-selected-rows>
                            <td class="no-padding" align="left" style="padding-left: 15px;">
                                <button class="btn  btn-information btn-table margin-right-5" ui-sref=".consumption-admission-ticket-booking-detail({id: '{{ticketBooking.consumption_id}}'})" >詳細</button>
                                <button class="btn  btn-confirm btn-table"  ui-sref=".consumption-admission-ticket-booking-copy({id: '{{ticketBooking.consumption_id}}'})" check-permissions="consumptionRecordCopy">複製</button>
                                <button ng-show="!!ticketBooking.consumption.allow_delete" class="btn  btn-information btn-table" data-ng-click="ticket_booking_delete(ticketBooking.id)" check-permissions="consumptionRecordDelete">删除</button>
                            </td>
                            <!--<td>{{ticketBooking.consumption.consumption_no}}</td>-->
                            <td>{{ticketBooking.consumption.book_no}}</td>
                            <td>{{ticketBooking.consumption.hall_name}}</td>
                            <td>{{ticketBooking.consumption.agent_code}}</td>
                            <td>{{ticketBooking.consumption.agent_name}}</td>
                            <td>{{ticketBooking.consumption.trader}}</td>
                            <!--<td>{{ticketBooking.hotel_travel_name}}</td>-->
                            <td>{{ticketBooking.ticket_type}}</td>
                            <td>{{ticketBooking.show_date | parseDate: ture}}</td>
                            <td>{{ticketBooking.show_time | limitTo : -8  }}</td>
                            <td>{{ticketBooking.consumption.cost_total | parseTenThousandToYuan :false | parseYuan : false}}</td>
                            <td>{{ticketBooking.consumption.sell_total | parseTenThousandToYuan :false | parseYuan : false}}</td>
                            <td>{{ticketBooking.consumption.profit | parseTenThousandToYuan :false | parseYuan : false}}</td>
                            <td>{{ticketBooking.consumption.should_pay | parseTenThousandToYuan :false | parseYuan : false}}</td>
                            <td>{{ticketBooking.consumption.pay_type}}</td>

                            <td>{{ticketBooking.consumption.book_time | limitTo : 16}}</td>
                            <td align="left">{{ticketBooking.consumption.remark}}</td>
                            <td>{{ticketBooking.consumption.year_month | limitTo : 7 }}</td>
                            <td>{{ticketBooking.consumption.shift_date | limitTo : 11 }}</td>
                            <td>{{ticketBooking.consumption.shift}}</td>

                            <td>{{ bookingState_items[ticketBooking.consumption.status] }}</td>
                            <td>{{ ticketBooking.consumption.user_name }}</td>

                        </tr>
                        <tr data-ng-show="!ticketBookings.length">
                            <td colspan="22">暫無符合條件的記錄</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </perfect-scrollbar>

            <footer class="table-footer">
                <div class="text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="ticket_page.page"
                                total-items="ticket_page.total_items"
                                on-select-page="ticket_search(page)"
                                max-size = "ticket_page.max_size"
                                items-per-page = "ticket_page.items_per_page"
                                data-ng-hide="ticket_page.total_items <= ticket_page.items_per_page"></pagination>
                    <paginationselect pageCtrl="ticket_page" select-page="ticket_search"></paginationselect>
                </div>
            </footer>
        </div>
    </div>
</div>
</div>
</div>