
<div class="col-md-4" data-ng-controller="consumptionTicketBookingDetailCtrls">
    <div class="panel panel-form-list">
        <div class="panel-content">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr height="50">
                    <td class="text-right" width="100">預訂單號：</td>
                    <td class="text-left" width="160">{{ticketBooking.consumption.book_no}}</td>
                    <td class="text-right" width="100">所屬廳館：</td>
                    <td class="text-left" width="160">{{ticketBooking.consumption.hall_name}}</td>
                </tr>
                <tr>
                  <td class="text-right">新增時間：</td>
                  <td class="text-left">{{ticketBooking.consumption.book_time  | limitTo : 16}}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-right ">年月：</td>
                  <td class="text-left">{{ticketBooking.consumption.year_month | limitTo : 7 }}</td>
                  <td class="text-right ">結算日期：</td>
                  <td class="text-left">{{ticketBooking.consumption.shift_date | limitTo : 11 }}</td>
                </tr>
                <tr height="50">
                    <td class="text-right">戶口編號：</td>
                    <td class="text-left">{{ticketBooking.consumption.agent_code}}</td>
                    <td class="text-right">戶口姓名：</td>
                    <td class="text-left">{{ticketBooking.consumption.agent_name}}</td>
                </tr>
                <tr height="50">
                    <td class="text-right">供應商：</td>
                    <td class="text-left">{{ticketBooking.hotel_travel_name}}</td>
                    <td class="text-right">門票類型：</td>
                    <td class="text-left"> {{ticketBooking.ticket_type}}</td>
                </tr>
                <tr height="50">
                    <td class="text-right">演出日期：</td>
                    <td class="text-left">{{ticketBooking.show_date | parseDate:'yyyy-MM-dd'}}</td>
                    <td class="text-right">演出時間：</td>
                    <td class="text-left">{{ticketBooking.show_time | limitTo: -8}}</td>
                </tr>
                <tr height="50">
                    <td class="text-right">数量：</td>
                    <td class="text-left" colspan="3">{{ticketBooking.count}} </td>
                </tr>
                <tr height="50">
                    <td class="text-right">成本單價：</td>
                    <td class="text-left">{{ticketBooking.cost | parseTenThousandToYuan : false | parseYuan :false}}</td>
                    <td class="text-right">實收單價：</td>
                    <td class="text-left">{{ticketBooking.sell | parseTenThousandToYuan : false | parseYuan :false}}</td>
                </tr>
                <tr height="50">
                    <td class="text-right">成本總數：</td>
                    <td class="text-left">{{ticketBooking.consumption.cost_total | parseTenThousandToYuan : false | parseYuan :false}}</td>
                    <td class="text-right">實收總數：</td>
                    <td class="text-left">{{ticketBooking.consumption.sell_total | parseTenThousandToYuan : false | parseYuan :false}}</td>
                </tr>
                <tr height="50">
                    <td class="text-right">收益：</td>
                    <td class="text-left">{{ticketBooking.consumption.profit | parseTenThousandToYuan : false | parseYuan :false}}</td>
                    <td class="text-right">狀態：</td>
                    <td class="text-left">{{ bookingState_items[ticketBooking.consumption.status] }}</td>
                    <!--td class="text-right">狀態：</td>
                    <td class="text-left">{{  bookingState_items[ticketBooking.consumption.status]}}</td-->
                </tr>
                </tbody>
            </table>
            <br>
            <table class="BGcolor-626571 table table-bordered table-striped" width="100%">
                <tbody>
                <tr height="40">
                    <td class="text-right" width="100">應付消費：</td>
                    <td class="text-left" width="160">{{ticketBooking.consumption.should_pay | parseTenThousandToYuan : false | parseYuan :false}}</td>
                    <td class="text-right" width="100">付款方式：</td>
                    <td class="text-left" width="160">{{ticketBooking.consumption.pay_type}}</td>
                </tr>
                <tr height="40">
                    <td class="text-right">訂票人：</td>
                    <td class="text-left">{{ticketBooking.consumption.trader}}</td>
                    <td class="text-right">電話：</td>
                    <td class="text-left">{{ticketBooking.consumption.area_code}} {{ticketBooking.consumption.trader_tel}}</td>
                </tr>
                <tr height="120">
                    <td valign="top" class="text-right">備註：</td>
                    <td valign="top" colspan="3" class="text-left">{{ticketBooking.consumption.remark}}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <!--table>
                <tr height="50">
                    <td class="text-right">操作密碼：</td>
                    <td colspan="3" class="text-left">{{ticketBooking.pwd}}</td>
                </tr>
                </tbody>
            </table-->
            <br>
            <div class="row" style="text-align: center;" check-permissions="consumptionRecordUpdate" >
                <button class="btn btn-confirm margin-right-15" data-ng-click="update()" ng-show='bookingState_items[ticketBooking.consumption.status]!="已結算"'>修 改</button>
                <button class="btn btn-cancel" data-ng-click="cancel()">取 消</button>
            </div>
        </div>
    </div>
</div>
