<div class="page page-services ng-scope" data-ng-controller="consumptionManagerCtrls">
<div class="panel">
<div class="panel-content">
<tabset class="ui-tab">
<tab heading="酒店">
    <div class="panel panel-default">
        <div data-ng-include="getUrl()"></div>
        <!--<div class="col-md-4">-->
            <!--<div class="panel panel-form-list">-->
                <!--<div class="panel-content">-->
                    <!--<table>-->
                        <!--<tbody>-->
                        <!--<tr height="50">-->
                            <!--<td class="text-right" width="100">消費單號：</td>-->
                            <!--<td class="text-left" width="160">&nbsp;</td>-->
                            <!--<td class="text-right" width="100">&nbsp;</td>-->
                            <!--<td class="text-left" width="160">&nbsp;</td>-->
                        <!--</tr>-->
                        <!--<tr height="50">-->
                            <!--<td class="text-right">預訂單號：</td>-->
                            <!--<td class="text-left"><input type="text" data-ng-model="condition.buy_chips_no" class="form-control"></td>-->
                            <!--<td class="text-right">所屬廳館：</td>-->
                            <!--<td class="text-left">-->
                                <!--<ui-select ng-model="condition.hall">-->
                                    <!--<ui-select-match placeholder="鉅星旅行社">{{$select.selected}}</ui-select-match>-->
                                    <!--<ui-select-choices repeat="hall in halls">-->
                                        <!--<div ng-bind-html="hall"></div>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr height="50">-->
                            <!--<td class="text-right">戶口編號：</td>-->
                            <!--<td class="text-left"><input type="text" data-ng-model="condition.buy_chips_no" class="form-control"></td>-->
                            <!--<td class="text-right">戶口姓名：</td>-->
                            <!--<td class="text-left">李三</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<br>-->
                    <!--<table class="BGcolor-626571" width="100%">-->
                        <!--<tbody>-->
                        <!--<tr height="50">-->
                            <!--<td class="text-right" width="100">消費類型：</td>-->
                            <!--<td class="text-left" width="160"><input type="text" data-ng-model="condition.buy_chips_no" class="form-control"></td>-->
                            <!--<td class="text-right" width="100">酒店：</td>-->
                            <!--<td class="text-left">-->
                                <!--<ui-select ng-model="condition.hall">-->
                                    <!--<ui-select-match placeholder="鉅星旅行社">{{$select.selected}}</ui-select-match>-->
                                    <!--<ui-select-choices repeat="hall in halls">-->
                                        <!--<div ng-bind-html="hall"></div>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            <!--</td>-->
                            <!--<td width="20">&nbsp;</td>-->
                        <!--</tr>-->
                        <!--<tr height="50">-->
                            <!--<td class="text-right">房型：</td>-->
                            <!--<td class="text-left"><input type="text" data-ng-model="condition.buy_chips_no" class="form-control"></td>-->
                            <!--<td class="text-right">入住天數：</td>-->
                            <!--<td class="text-left">-->
                                <!--<div class="input-group ui-spinner" data-ui-spinner>-->
                        <!--<span class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-default" data-spin="down">-->
                                <!--<i class="fa fa-minus"></i>-->
                            <!--</button>-->
                        <!--</span>-->
                                    <!--<input type="text" class="spinner-input form-control">-->
                        <!--<span class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-primary" data-spin="up">-->
                                <!--<i class="fa fa-plus"></i>-->
                            <!--</button>-->
                        <!--</span>-->
                                    <!--&nbsp;&nbsp;-->
                                <!--</div>-->
                            <!--</td>-->
                            <!--<td width="20">&nbsp;</td>-->
                        <!--</tr>-->
                        <!--<tr height="50">-->
                            <!--<td class="text-right">入住日期：</td>-->
                            <!--<td class="text-left">-->
                                <!--<p class="input-group ui-datepicker">-->
                                    <!--<input type="text" class="form-control input-92" datepicker-popup="{{format}}" ng-model="condition.created_end_time" is-open="opened"  date-disabled="disabled(date, mode)" close-text="Close" />-->
                        <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default btn-datepicker" ng-click="open($event,1)"><i class="glyphicon glyphicon-calendar"></i></button>-->
                        <!--</span>-->
                                <!--</p>-->
                            <!--</td>-->
                            <!--<td class="text-right">退房日期：</td>-->
                            <!--<td class="text-left">2014-06-06</td>-->
                            <!--<td width="20">&nbsp;</td>-->
                        <!--</tr>-->

                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<table width="100%">-->
                        <!--<tbody>-->
                        <!--<tr height="50">-->
                            <!--<td class="text-right" width="100">房間登記人：</td>-->
                            <!--<td class="text-left" width="160"><input type="text" data-ng-model="condition.buy_chips_no" class="form-control"></td>-->
                            <!--<td class="text-right" width="100">登記人證件：</td>-->
                            <!--<td class="text-left">-->
                                <!--<ui-select ng-model="condition.hall">-->
                                    <!--<ui-select-match placeholder="身份證">{{$select.selected}}</ui-select-match>-->
                                    <!--<ui-select-choices repeat="hall in halls">-->
                                        <!--<div ng-bind-html="hall"></div>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            <!--</td>-->
                            <!--<td width="20">&nbsp;</td>-->
                        <!--</tr>-->
                        <!--<tr height="50">-->
                            <!--<td class="text-right">證件號碼：</td>-->
                            <!--<td class="text-left"><input type="text" data-ng-model="condition.buy_chips_no" class="form-control"></td>-->
                            <!--<td class="text-right">訂房人：</td>-->
                            <!--<td class="text-left"><input type="text" data-ng-model="condition.buy_chips_no" class="form-control"></td>-->
                            <!--<td width="20">&nbsp;</td>-->
                        <!--</tr>-->
                        <!--<tr height="50">-->
                            <!--<td class="text-right">訂房人電話：</td>-->
                            <!--<td class="text-left">-->
                                <!--<ui-select ng-model="condition.hall">-->
                                    <!--<ui-select-match placeholder="李四">{{$select.selected}}</ui-select-match>-->
                                    <!--<ui-select-choices repeat="hall in halls">-->
                                        <!--<div ng-bind-html="hall"></div>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            <!--</td>-->
                            <!--<td class="text-right">付款方式：</td>-->
                            <!--<td class="text-left">-->
                                <!--<ui-select ng-model="condition.hall">-->
                                    <!--<ui-select-match placeholder="扣消費積分">{{$select.selected}}</ui-select-match>-->
                                    <!--<ui-select-choices repeat="hall in halls">-->
                                        <!--<div ng-bind-html="hall"></div>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            <!--</td>-->
                            <!--<td width="20">&nbsp;</td>-->
                        <!--</tr>-->

                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<table class="BGcolor-626571 border-table">-->
                        <!--<thead>-->
                        <!--<tr height="50">-->
                            <!--<td>日期</td>-->
                            <!--<td width="61">成本價</td>-->
                            <!--<td width="61">售價</td>-->
                            <!--<td width="95">數量</td>-->
                            <!--<td>成本總數</td>-->
                            <!--<td>實收金額</td>-->
                            <!--<td>收益</td>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr height="50">-->
                            <!--<td>2014-06-05 平日</td>-->
                            <!--<td><input type="text" data-ng-model="condition.buy_chips_no" class="form-control"></td>-->
                            <!--<td><input type="text" data-ng-model="condition.buy_chips_no" class="form-control"></td>-->
                            <!--<td>-->
                                <!--<div class="input-group ui-spinner" data-ui-spinner>-->
                        <!--<span class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-default" data-spin="down">-->
                                <!--<i class="fa fa-minus"></i>-->
                            <!--</button>-->
                        <!--</span>-->
                                    <!--<input type="text" class="spinner-input form-control">-->
                        <!--<span class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-primary" data-spin="up">-->
                                <!--<i class="fa fa-plus"></i>-->
                            <!--</button>-->
                        <!--</span>-->
                                    <!--&nbsp;&nbsp;-->
                                <!--</div>-->
                            <!--</td>-->
                            <!--<td>604</td>-->
                            <!--<td>900</td>-->
                            <!--<td>296</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<br>-->
                    <!--<table width="100%">-->
                        <!--<tr>-->
                            <!--<td valign="top" class="text-right" width="100">-->
                                <!--備註：<br>-->
                                <!--<button class="btn  btn-information btn-table btn-remark">常用</button>-->
                            <!--</td>-->
                            <!--<td colspan="3"><textarea id="remark" class="form-control textarea-table01 ng-pristine ng-valid" rows="4" data-ng-model="commission_calculate.remark" name=""></textarea></td>-->
                        <!--</tr>-->
                        <!--<tr height="50">-->
                            <!--<td class="text-right">操作密碼：</td>-->
                            <!--<td colspan="3" class="text-left"><input type="text" data-ng-model="commission_calculate.pwd" class="form-control input-140"></td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<br>-->
                    <!--<div class="row" style="text-align: center;">-->
                        <!--<button class="btn  btn-confirm margin-right-15" data-ng-click="update()">提 交</button>-->
                        <!--<button class="btn btn-inf cel" data-ng-click="check('消費轉移')">取 消</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="panel_l col-md-8">
            <div class="panel">
                <div class="panel-content">
                    <div class="panel panel-form-list">
                        <div class="panel-content">
                            <form name="form_search">
                                <table>
                                    <tr height="50">
                                        <td width="150" class="text-right">消費單號：</td>
                                        <td width="209"><input type="text" data-ng-model="condition.buy_chips_no" class="form-control"></td>

                                        <td width="150" class="text-right">所屬廳館：</td>
                                        <td width="160">
                                            <ui-select ng-model="condition.hall">
                                                <ui-select-match placeholder="永利鉅星">{{$select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="hall in halls">
                                                    <div ng-bind-html="hall"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>

                                        <td width="150" class="text-right">戶口編號：</td>
                                        <td width="160"><input type="text" data-ng-model="condition.agent_code" class="form-control"></td>
                                    </tr>
                                    <tr height="50">
                                        <td class="text-right">戶口姓名：</td>
                                        <td><input type="text" data-ng-model="condition.agent_name" class="form-control"></td>
                                        <td class="text-right">酒店：</td>
                                        <td>
                                            <ui-select ng-model="condition.hall">
                                                <ui-select-match placeholder="請選擇廳館">{{$select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="hall in halls">
                                                    <div ng-bind-html="hall"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="text-right">房型：</td>
                                        <td>
                                            <ui-select ng-model="condition.hall">
                                                <ui-select-match placeholder="請選擇廳館">{{$select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="hall in halls">
                                                    <div ng-bind-html="hall"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                    </tr>
                                    <tr height="50">
                                        <td class="text-right">房間登記人：</td>
                                        <td><input type="text" data-ng-model="condition.buy_chips_no" class="form-control"></td>

                                        <td class="text-right">入住日期：</td>
                                        <td>
                                            <p class="input-group ui-datepicker">
                                                <input type="text" class="form-control input-92" datepicker-popup="{{format}}" ng-model="condition.created_end_time" is-open="opened"  date-disabled="disabled(date, mode)" close-text="Close" />
                                                            <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-datepicker" ng-click="open($event,1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                            </span>
                                            </p>
                                        </td>

                                        <td class="text-right">預訂單號：</td>
                                        <td><input type="text" data-ng-model="condition.buy_chips_no" class="form-control"></td>
                                    </tr>
                                </table>
                                <br><br><br>
                                <div class="row" style="text-align: center;">
                                    <button class="btn  btn-information margin-right-15" ng-click="search()">查詢</button>
                                    <button class="btn btn-inf btn-cancel" data-ng-click="searchReset()">重置</button>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                    <div class="panel panel-list-detail">
                        <div class="panel-content">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <td>消費單號</td>
                                    <td>預訂單號</td>
                                    <td>所屬廳館</td>
                                    <td>戶口編號</td>
                                    <td>戶口姓名</td>
                                    <td>酒店</td>
                                    <td>房型</td>
                                    <td>入住日期</td>
                                    <td>房間登記人</td>
                                    <td>狀態</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="hotelBooging in hotelBoogings">
                                    <td>{{hotelBooging.consumption_number}}</td>
                                    <td>{{hotelBooging.booking_number}}</td>
                                    <td>{{hotelBooging.hall}}</td>
                                    <td>{{hotelBooging.agent_code}}</td>
                                    <td>{{hotelBooging.agent_name}}</td>
                                    <td>{{hotelBooging.hotel}}</td>
                                    <td>{{hotelBooging.house_type}}</td>
                                    <td>{{hotelBooging.in_date}}</td>
                                    <td>{{hotelBooging.registered}}</td>
                                    <td>未核對</td>
                                    <td class="no-padding">
                                        <button class="btn  btn-information btn-table margin-right-5" data-ng-click="hotelDetail(hotelBooging.agent_code)">詳細</button>
                                        <button class="btn  btn-confirm btn-table" data-ng-click="detail()">修改</button>
                                    </td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td>100020</td>-->
                                    <!--<td>0233445</td>-->
                                    <!--<td>永利鉅星</td>-->
                                    <!--<td>LISBOA</td>-->
                                    <!--<td>不夜天</td>-->
                                    <!--<td>MO</td>-->
                                    <!--<td>GK/GT</td>-->
                                    <!--<td>2014-01-02</td>-->
                                    <!--<td>李四</td>-->
                                    <!--<td>未核對</td>-->
                                    <!--<td class="no-padding">-->
                                        <!--<button class="btn  btn-information btn-table margin-right-5" data-ng-click="detail()">詳細</button>-->
                                        <!--<button class="btn  btn-confirm btn-table" data-ng-click="detail()">修改</button>-->
                                    <!--</td>-->
                                <!--</tr>-->

                                </tbody>
                            </table>
                            <footer class="table-footer">
                                <div class="text-right pagination-container">
                                    <pagination class="pagination-sm"
                                                page="current_page"
                                                total-items="all_buyChips.length"
                                                on-select-page="select(page)"
                                                data-ng-show="buyChips.length != 0"></pagination>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</tab>
<tab heading="食飛">
    <div data-ng-include=" 'views/consumption-manager/consumption-food-fly-booking.html' "></div>
</tab>
<tab heading="直升機">
    <div data-ng-include=" 'views/consumption-manager/consumption-helicopter-booking.html' "></div>
</tab>
<tab heading="船票">
    <div data-ng-include=" 'views/consumption-manager/consumption-ship-ticket-booking.html' "></div>
</tab>
<tab heading="機票">
    <div data-ng-include=" 'views/consumption-manager/consumption-air-booking.html' "></div>
</tab>
<tab heading="租車">
    <div data-ng-include=" 'views/consumption-manager/consumption-car-booking.html' "></div>
</tab>
<tab heading="門票">
    <div data-ng-include=" 'views/consumption-manager/consumption-admission-ticket-booking.html' "></div>
</tab>
<tab heading="雜項">
    <div data-ng-include=" 'views/consumption-manager/consumption-other-booking.html' "></div>
</tab>

</tabset>
</div>
</div>
</div>