   <div class="panel_l col-md-8">
    <div class="panel">
    <div class="panel-content">
    <div class="panel panel-form-list">
        <div class="panel-content">
            <form name="form_search">
                <table>
                    <tr height="50">
                        <td width="150" class="text-right">所屬廳館：</td>
                        <td width="160">
                            <select  data-ng-show="user.isAllHall()" name="hall_id" class="form-control" data-ng-model="condition_helicopter.hall_id"
                                    data-ng-options="n.id as n.hall_name for n in halls ">
                                <option value="">請選擇廳館</option>
                            </select>
                            <span  data-ng-hide="user.isAllHall()">{{user.hall.hall_name}}</span>
                        </td>
                        <td width="150" class="text-right">預訂單號：</td>
                        <td width="160"><input type="text" name="consumption_book_no" data-ng-model="condition_helicopter.consumption.book_no" class="form-control" data-input-uppercase></td>
                        <td width="150" class="text-right">&nbsp;</td>
                        <td width="160">&nbsp;</td>
                        <!--<td width="150" class="text-right" min-screen-width="120">消費單號：</td>-->
                        <!--<td width="160" min-screen-width="180"><input type="text" name="consumption_no" data-ng-model="condition_helicopter.consumption.consumption_no" class="form-control"></td>-->

                        <!--<td width="150" class="text-right" min-screen-width="120">預訂單號：</td>-->
                        <!--<td width="160" min-screen-width="180"><input type="text" name="consumption_book_no" data-ng-model="condition_helicopter.consumption.book_no" class="form-control"></td>-->

                    </tr>
                    <tr height="50">

                        <td width="150" class="text-right">戶口編號：</td>
                        <td width="160"><input type="text" name="agent_code" data-input-uppercase data-ng-model="condition_helicopter.agentInfo.agent_code" class="form-control"></td>
                        <td class="text-right">戶口姓名：</td>
                        <td>{{ condition_helicopter.agentMaster.agent_contact_name }}<!--input type="text" name="agent_contact_name" data-ng-model="condition_helicopter.agentMaster.agent_contact_name" class="form-control"--></td>
                        <td class="text-right">訂票人：</td>
                        <td><input type="text" data-ng-model="condition_helicopter.consumption.trader" class="form-control"></td>


                    </tr>
                    <tr  height="50">
                        <td width="150" class="text-right">出發城市：</td>
                        <td width="200">
                            <select name="from_place_id" class="form-control" data-ng-model="condition_helicopter.helicopterTrip.from_place_id"  data-ng-options="n.id as n.helicopter_city for n in helicopterCitys" >
                                <option value="">請選擇出發城市</option>
                            </select>
                        </td>
                        <td width="150" class="text-right">目的城市：</td>
                        <td>
                            <select name="to_place_id" class="form-control" data-ng-model="condition_helicopter.helicopterTrip.to_place_id" data-ng-options="n.id as n.helicopter_city for n in helicopterCitys" >
                                <option value="">請選擇目的城市</option>
                            </select>
                        </td>
                        <td class="text-right">付款方式：</td>
                        <td>
                            <select name="consumption_pay_type_id" class="form-control" data-ng-model="condition_helicopter.consumption.pay_type_id" data-ng-options="n.id as n.pay_type_name for n in pay_types">
                                <option value="">請選擇付款方式</option>
                            </select>
                        </td>
                    </tr>
                    <tr  height="50">

                        <td class="text-right">結算日期：</td>
                        <td colspan="3">
                            <div class=" pull-left form-inline input-group ui-datepicker">
                                <div class="form-group">
                                    <input size="9" class="form-control input-01"
                                           ng-model="condition_helicopter.consumption.shift_date[0]"
                                           data-ng-required="enableClientValidation"
                                           style="width:150px;"
                                           bs-datepicker type="text">
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                            <span class="pull-left">&nbsp;~&nbsp;</span>
                            <div class=" pull-left form-inline input-group ui-datepicker">
                                <div class="form-group">
                                    <input size="9" class="form-control input-01"
                                           ng-model="condition_helicopter.consumption.shift_date[1]"
                                           data-ng-required="enableClientValidation"
                                           style="width:150px;"
                                           bs-datepicker type="text">
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </td>
                        <td align="right">備註：</td>
                        <td width="150"><input type="text" class="form-control" data-ng-model="condition_helicopter.consumption.remark"> </td>
                    </tr>
                </table>

                <br><br><br>
                <div class="row" style="text-align: center;">
                    <button class="btn  btn-information margin-right-15" ng-click="helicopter_search()">查詢</button>
                    <button class="btn  btn-cancel" data-ng-click="helicopter_search_reset()">重置</button>
                </div>
            </form>
        </div>
        <div class="panel-footer">

        </div>
    </div>
    <div class="panel panel-list-detail">
        <div class="panel-content" style="position: relative">
            <perfect-scrollbar class="animate-fade-up consumption_record" style="position: relative; overflow: hidden;" suppress-scroll-x="false" wheel-propagation="true" wheel-speed="50" >
                <div class="panel-content consumption_record table-dynamic"  style="min-height: 100px; width: 3000px;">
                    <table class="table table-bordered table-striped table-hover" width="100%">
                        <thead>
                        <tr>
                            <td width="210" min-screen-width="150">操作</td>
                            <!--<td>消費單號</td>-->
                            <td>預訂單號</td>
                            <td>所屬廳館</td>
                            <td data-td-sort data-td-sort-up="agentInfo.agent_code NUMASC" data-td-sort-down="agentInfo.agent_code NUMDESC" data-td-sort-select="helicopter_search" data-td-sort-pagination="helicopter_page">戶口編號</td>
                            <td>戶口姓名</td>
                            <td>訂票人</td>
                            <td>行程</td>
                            <td>時間</td>
                            <td>数量</td>
                            <td>成本</td>
                            <td>實收</td>
                            <td>收益</td>
                            <td>應付消費</td>
                            <td>付款方式</td>
                            <td>新增時間</td>
                            <td width="1000">備註</td>
                            <td data-td-sort data-td-sort-up="consumption.shift_date ASC" data-td-sort-down="consumption.shift_date DESC" data-td-sort-select="helicopter_search" data-td-sort-pagination="helicopter_page">年月</td>
                            <td data-td-sort data-td-sort-up="consumption.shift_date ASC" data-td-sort-down="consumption.shift_date DESC" data-td-sort-select="helicopter_search" data-td-sort-pagination="helicopter_page">結算日期</td>
                            <td>更數</td>
                            <td>狀態</td>
                            <td>經手人</td>

                        </tr>
                        </thead>
                        <tbody>

                        <tr data-ng-repeat="helicopterBooking in helicopterBookings" data-selected-rows>
                            <td class="no-padding" align="left" style="padding-left: 15px;">
                                <button class="btn  btn-information btn-table margin-right-5" ui-sref=".consumption-helicopter-booking-detail({id: '{{ helicopterBooking.consumption_id}}'})">詳細</button>
                                <button class="btn  btn-confirm btn-table" ui-sref=".consumption-helicopter-booking-copy({id: '{{ helicopterBooking.consumption_id}}'})" check-permissions="consumptionRecordCopy" >複製</button>
                                <button ng-show="!!helicopterBooking.consumption.allow_delete"
                                        check-permissions="consumptionRecordDelete"
                                        class="btn  btn-information btn-table" data-ng-click="helicopter_booking_delete(helicopterBooking.id)">删除</button>
                            </td>
                            <!--<td>{{helicopterBooking.consumption.consumption_no}}</td>-->
                            <td>{{helicopterBooking.consumption.book_no}}</td>
                            <td>{{helicopterBooking.consumption.hall_name}}</td>
                            <td>{{helicopterBooking.consumption.agent_code}}</td>
                            <td>{{helicopterBooking.consumption.agent_name}}</td>
                            <td>{{helicopterBooking.consumption.trader}}</td>
                            <td>{{helicopterBooking.consumption.consumption_content}}</td>
                            <td>{{helicopterBooking.setout_time | limitTo:-8 | limitTo: 5}}</td>
                            <td>{{helicopterBooking.count}}</td>
                            <td>{{helicopterBooking.consumption.cost_total | parseTenThousandToYuan :false | parseYuan : false}}</td>
                            <td>{{helicopterBooking.consumption.sell_total | parseTenThousandToYuan :false | parseYuan : false}}</td>
                            <td>{{helicopterBooking.consumption.profit | parseTenThousandToYuan :false | parseYuan : false}}</td>
                            <td>{{helicopterBooking.consumption.should_pay | parseTenThousandToYuan :false | parseYuan : false}}</td>
                            <td>{{helicopterBooking.consumption.pay_type}}</td>
                            <td>{{helicopterBooking.consumption.book_time | limitTo : 16}}</td>
                            <td align="left">{{helicopterBooking.consumption.remark}}</td>
                            <td>{{helicopterBooking.consumption.year_month | limitTo : 7 }}</td>
                            <td>{{helicopterBooking.consumption.shift_date | limitTo : 11 }}</td>
                            <td>{{helicopterBooking.consumption.shift}}</td>

                            <td>{{ bookingState_items[helicopterBooking.consumption.status] }}</td>
                            <td>{{ helicopterBooking.consumption.user_name }}</td>

                        </tr>
                        <tr data-ng-show="!helicopterBookings.length">
                            <td colspan="20">暫無符合條件的記錄</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </perfect-scrollbar>
            <footer class="table-footer">
                <div class="text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="helicopter_page.page"
                                total-items="helicopter_page.total_items"
                                on-select-page="helicopter_search(page)"
                                max-size = "helicopter_page.max_size"
                                items-per-page = "helicopter_page.items_per_page"
                                data-ng-hide="helicopter_page.total_items <= helicopter_page.items_per_page"></pagination>

                    <paginationselect pageCtrl="helicopter_page" select-page="helicopter_search"></paginationselect>
                </div>
            </footer>
        </div>
    </div>
    </div>
    </div>
    </div>