<div class="panel_l col-md-8">
<div class="panel">
<div class="panel-content">
<div class="panel panel-form-list">
    <div class="panel-content">
        <form name="form_search">
            <table>
                <tr height="50">
                    <td width="150" class="text-right" min-screen-width="90">所屬廳館：</td>
                    <td width="160">
                        <select data-ng-show="user.isAllHall()" name="hall_id" class="form-control" data-ng-model="condition_food.hall_id"
                                data-ng-options="n.id as n.hall_name for n in halls ">
                            <option value="">請選擇廳館</option>
                        </select>
                        <span  data-ng-hide="user.isAllHall()">{{user.hall.hall_name}}</span>
                    </td>
                    <!--<td width="150" class="text-right" min-screen-width="90">消費單號：</td>-->
                    <!--<td width="160"><input type="text" name="consumption_no" data-ng-model="condition_food.consumption.consumption_no" class="form-control"></td>-->

                    <!--<td width="150" class="text-right" min-screen-width="90">預訂單號：</td>-->
                    <!--<td width="160" min-screen-width="200"><input type="text" name="consumption_book_no" data-ng-model="condition_food.consumption.book_no" class="form-control"></td>-->

                    <td width="150" class="text-right">預訂單號：</td>
                    <td width="160"><input type="text" name="consumption_book_no" data-ng-model="condition_food.consumption.book_no" class="form-control" data-input-uppercase></td>
                    <td width="150" class="text-right">&nbsp;</td>
                    <td width="160">&nbsp;</td>


                </tr>
                <tr height="50">

                    <td class="text-right">戶口編號：</td>
                    <td ><input type="text" name="agent_code" data-input-uppercase data-ng-model="condition_food.agentInfo.agent_code" class="form-control"></td>
                    <td class="text-right">戶口姓名：</td>
                    <td>{{ condition_food.agentMaster.agent_contact_name }}<!--input type="text" name="agent_contact_name" data-ng-model="condition_food.agentMaster.agent_contact_name" class="form-control"--></td>
                    <td class="text-right">簽單人：</td>
                    <td><input type="text" data-ng-model="condition_food.consumption.trader" class="form-control"></td>


                </tr>
                <tr  height="50">
                    <td width="150" class="text-right">酒店：</td>
                    <td width="200">
                        <select name="hotel_id" class="form-control" data-ng-model="condition_food.hotel_id">
                            <option value="">請選擇酒店</option>
                            <option ng-repeat="hotel in hotelLists" value="{{hotel.id}}">{{hotel.hotel_name}}</option>
                        </select>
                    </td>
                    <td width="150" class="text-right">餐廳：</td>
                    <td>
                        <select name="restaurant_id" class="form-control" data-ng-model="condition_food.restaurant_id" >
                            <option value="">請選擇餐廳</option>
                            <option ng-repeat="restaurant in food_restaurants" value="{{ restaurant.id }}">{{ restaurant.restaurant_name }}</option>
                        </select>
                    </td>
                    <td class="text-right">付款方式：</td>
                    <td>
                        <select name="consumption_pay_type_id" class="form-control" data-ng-model="condition_food.consumption.pay_type_id" data-ng-options="n.id as n.pay_type_name for n in pay_types">
                            <option value="">請選擇付款方式</option>
                        </select>
                    </td>
                </tr>
                <tr  height="50">

                    <td class="text-right">結算日期：</td>
                    <td colspan="3">
                        <div class=" pull-left form-inline input-group ui-datepicker">
                            <div class="form-group">
                                <input size="9" class="form-control input-01"
                                       ng-model="condition_food.consumption.shift_date[0]"
                                       data-ng-required="enableClientValidation"
                                       style="width:150px;"
                                       bs-datepicker type="text">
                            </div>
                            <div class="form-group">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <span class="pull-left">&nbsp;~&nbsp;</span>
                        <div class=" pull-left form-inline input-group ui-datepicker">
                            <div class="form-group">
                                <input size="9" class="form-control input-01"
                                       ng-model="condition_food.consumption.shift_date[1]"
                                       data-ng-required="enableClientValidation"
                                       style="width:150px;"
                                       bs-datepicker type="text">
                            </div>
                            <div class="form-group">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </td>
                    <td align="right">備註：</td>
                    <td width="150"><input type="text" class="form-control" data-ng-model="condition_food.consumption.remark"> </td>
                </tr>
            </table>

            <br><br><br>
            <div class="row" style="text-align: center;">
                <button class="btn  btn-information margin-right-15" ng-click="food_search()">查詢</button>
                <button class="btn  btn-cancel" data-ng-click="food_search_reset()">重置</button>
            </div>
        </form>
    </div>
    <div class="panel-footer">

    </div>
</div>
<div class="panel panel-list-detail">
    <div class="panel-content" style="position: relative">
        <perfect-scrollbar class="animate-fade-up consumption_record" style="position: relative; overflow: hidden;" suppress-scroll-x="false" wheel-propagation="true" wheel-speed="50" >
            <div class="panel-content consumption_record table-dynamic"  style="min-height: 100px; width: 3000px;">
                <table class="table table-bordered table-striped table-hover" width="100%">
                    <thead>
                    <tr>
                        <td width="210" min-screen-width="150">操作</td>
                        <!--<td>消費單號</td>-->
                        <td>預訂單號</td>
                        <td>所屬廳館</td>
                        <td data-td-sort data-td-sort-up="agentInfo.agent_code NUMASC" data-td-sort-down="agentInfo.agent_code NUMDESC" data-td-sort-select="food_search" data-td-sort-pagination="food_page">戶口編號</td>
                        <td>戶口姓名</td>
                        <td>簽單人</td>
                        <td>酒店</td>
                        <td>餐廳</td>
                        <td>成本</td>
                        <td>實收</td>
                        <td>收益</td>
                        <td>應付消費</td>
                        <td>付款方式</td>
                        <td>新增時間</td>
                        <td width="1000">備註</td>

                        <td data-td-sort data-td-sort-up="consumption.shift_date ASC" data-td-sort-down="consumption.shift_date DESC" data-td-sort-select="food_search" data-td-sort-pagination="food_page">年月</td>
                        <td data-td-sort data-td-sort-up="consumption.shift_date ASC" data-td-sort-down="consumption.shift_date DESC" data-td-sort-select="food_search" data-td-sort-pagination="food_page">結算日期</td>
                        <td>更數</td>
                        <td>狀態</td>
                        <td>經手人</td>

                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="foodBooking in foodBookings" data-selected-rows>
                        <td class="no-padding" align="left" style="padding-left: 15px;">
                            <button class="btn  btn-information btn-table margin-right-5" ui-sref=".consumption-food-fly-booking-detail({id: '{{foodBooking.consumption_id}}'})" >詳細</button>
                            <button class="btn  btn-confirm btn-table" ui-sref=".consumption-food-fly-booking-copy({id: '{{ foodBooking.consumption_id}}'})" check-permissions="consumptionRecordCopy">複製</button>
                            <button ng-show="!!foodBooking.consumption.allow_delete"
                                    check-permissions="consumptionRecordDelete"
                                    class="btn  btn-information btn-table" data-ng-click="food_booking_delete(foodBooking.id)">删除</button>
                        </td>
                        <!--<td>{{foodBooking.consumption.consumption_no}}</td>-->
                        <td>{{foodBooking.consumption.book_no}}</td>
                        <td>{{foodBooking.consumption.hall_name}}</td>
                        <td>{{foodBooking.consumption.agent_code}}</td>
                        <td>{{foodBooking.consumption.agent_name}}</td>
                        <td>{{foodBooking.consumption.trader}}</td>
                        <td>{{foodBooking.hotel_name}}</td>
                        <td>{{foodBooking.restaurant}}</td>
                        <td>{{foodBooking.consumption.cost_total | parseTenThousandToYuan :false | parseYuan : false}}</td>
                        <td>{{foodBooking.consumption.sell_total | parseTenThousandToYuan :false | parseYuan : false}}</td>
                        <td>{{foodBooking.consumption.profit | parseTenThousandToYuan :false | parseYuan : false}}</td>
                        <td>{{foodBooking.consumption.should_pay | parseTenThousandToYuan :false | parseYuan : false}}</td>
                        <td>{{foodBooking.consumption.pay_type}}</td>

                        <td>{{foodBooking.consumption.book_time | limitTo : 16}}</td>
                        <td align="left">{{foodBooking.consumption.remark}}</td>

                        <td>{{foodBooking.consumption.year_month | limitTo : 7 }}</td>
                        <td>{{foodBooking.consumption.shift_date | limitTo : 11 }}</td>
                        <td>{{foodBooking.consumption.shift}}</td>
                        <td>{{ bookingState_items[foodBooking.consumption.status] }}</td>
                        <td>{{ foodBooking.consumption.user_name }}</td>

                    </tr>
                    <tr data-ng-show="!foodBookings.length">
                        <td colspan="20">暫無符合條件的記錄</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </perfect-scrollbar>
        <footer class="table-footer">
            <div class="text-right pagination-container">
                <pagination class="pagination-sm"
                            page="food_page.page"
                            total-items="food_page.total_items"
                            on-select-page="food_search(page)"
                            max-size = "food_page.max_size"
                            items-per-page = "food_page.items_per_page"
                            data-ng-hide="food_page.total_items <= food_page.items_per_page"></pagination>
                <paginationselect pageCtrl="food_page" select-page="food_search"></paginationselect>
            </div>
        </footer>
    </div>
</div>
</div>
</div>
</div>
