<div class="page page-services ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-form-list">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form name="$parent.form_shift_create" class="ng-valid ng-dirty form-validation" server-validation="{{methodType}}{{form_shift_create_url}}">
                                <div class="panel-heading"><strong>{{title}}</strong></div>
                                <table class="table table-bordered table-striped table-detail-01">
                                    <tr>
                                        <td  width="120" class="text-right">日期：</td>
                                        <td width="150">
                                            <p class="input-group ui-datepicker" style="margin-top: 5px;">
                                                <input type="text" class="form-control input-92"
                                                       datepicker-popup ng-model="shifts.shift_date"
                                                       name="shift_date"
                                                       data-ng-change="in_capital_change()"/>
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                            <!--{{new_shift.now_date}}-->
                                        </td>
                                        <td class="text-right">場次編號：</td>
                                        <td align="center">{{new_shift.main_scene_no}}</td>
                                    </tr>
                                    <tr>
                                        <td width="120" class="text-right">戶口編號：</td>
                                        <td align="center">{{new_shift.agent_code}}</td>
                                        <td class="text-right">戶口姓名：</td>
                                        <td >{{new_shift.agent_name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">子場次編號：</td>
                                        <td align="center">{{new_shift.scene_no}}</td>
                                        <td class="text-right">客戶姓名：</td>
                                        <td width="150">{{new_shift.guest_name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">入場本金：</td>
                                        <td colspan="3" align="center">{{new_shift.in_capital_text}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">離場本金：</td>
                                        <!--<td align="center"></td>-->
                                        <td colspan="3">{{new_shift.out_capital_text}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">上下數：</td>
                                        <td align="center">{{new_shift.loss_win_amount}}</td>
                                        <td colspan="2">&nbsp;</td>
                                </table>
                                <div class="panel-heading"><strong>離場本金</strong></div>

                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <!--<td width="150" align="center">操作</td>-->
                                        <td>金額（萬）</td>
                                        <td width="180">類型</td>
                                        <td width="100">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="outCapitals_c in outCapitals_content">
                                        <!--<td>-->
                                            <!--<select data-ng-model="outCapitals_c.out_scene_word_id"-->
                                                    <!--data-ng-required="enableClientValidation"-->
                                                    <!--data-dynamic-name="outCapitals_{{$index}}_out_scene_word_id"-->
                                                    <!--class="form-control"-->
                                                    <!--data-ng-change="capitals_change(outCapitals_c,'op')"-->
                                                    <!--ng-options="h.id as h.o_word for h in outSceneWords">-->
                                                <!--<option value = "">請選擇資金類型</option>-->
                                            <!--</select>-->
                                        <!--</td>-->
                                        <td><input type="text"
                                                   name="amount"
                                                   data-ng-model="outCapitals_c.amount"
                                                   class="form-control input-180"
                                                   ng-keyup="outScene()">
                                        </td>
                                        <td>
                                            <select data-ng-model="outCapitals_c.funds_type_id"
                                                    data-ng-required="enableClientValidation"
                                                    data-dynamic-name="outCapitals_{{$index}}_funds_type_id"
                                                    class="form-control"
                                                    data-ng-change="capitals_change(outCapitals_c,'ty')"
                                                    ng-options="h.id as h.o_word for h in inSceneWords">
                                                <option value = "">請選擇資金類型</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button data-ng-show="$index==0" class="btn btn-info btn-information btn-table" ng-click="add_outCapitals()">添加</button>
                                            <button data-ng-show="$index>0" class="btn btn-info btn-information btn-table" ng-click="remove_outCapitals($index)">刪除</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!--<table class="table table-bordered table-striped table-detail-01">-->
                                    <!--<tr>-->
                                        <!--<td width="150" class="text-right">操作密碼：</td>-->
                                        <!--<td width="170" align="left" colspan="3">-->
                                            <!--<input type="password" data-ng-model="shifts.pin_code" name="pin_code" class="form-control" style="width:200px" data-enter-key="add()">-->
                                        <!--</td>-->

                                    <!--</tr>-->
                                <!--</table>-->
                            </form>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <button class="btn btn-confirm margin-right-15" data-ng-disabled="isDesabled" data-ng-click="add()">確定</button>
                        <button class="btn btn-info btn-cancel" data-ng-click="close()">取消</button>
                    </div>
                </div>
                <div class="panel-footer">

                </div>


            </div>

        </div>

    </div>
</div>