<div class="page page-grid" data-ng-controller="ConsumptionSetHelicopterCtrls">
    <div class="col-md-5">
        <div class="panel panel-list-detail">
            <div class="panel-heading">

                <form name="form_helicopter"  class="ng-valid ng-dirty form-validation" server-validation="{{sub_post_put}}{{form_url}}">
                    <strong>城市地區管理</strong>
                    <table class="pull-right">
                        <tbody>
                        <tr>
                            <td width="140"><input type="text" name="helicopter_city" data-ng-model="helicopter.helicopter_city" class="form-control margin-top-10"></td>
                            <td><button class="btn btn-confirm" data-ng-click="submit()">新增</button></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="panel-content">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <td>城市地區</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="city in helicopter_citys" data-selected-rows>
                        <td>{{city.helicopter_city}}</td>
                        <td class="no-padding"><button class="btn btn-information btn-table" data-ng-click="delete(city.id)">刪除</button></td>
                    </tr>
                    <tr data-ng-show="helicopter_citys.length == 0">
                        <td colspan="2">暫無符合條件的記錄</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <footer class="table-footer">
                <div class="text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="page.page"
                                total-items="page.total_items"
                                on-select-page="search(page)"
                                max-size = "page.max_size"
                                items-per-page = "page.items_per_page"
                                data-ng-hide="page.total_items <= page.items_per_page"></pagination>
                    <paginationselect pageCtrl="page" select-page="search"></paginationselect>
                </div>
            </footer>
        </div>
        <button class="btn btn-inf btn-information pull-right" ng-click="goback()">返回</button>
        <!--data-ng-click="goback('helicopter')"-->

    </div>
</div>