<div class="page page-services ng-scope" data-ng-controller="consumptionSetFoodFlyCtrls">
    <div class="panel panel-form-list  col-md-9" check-permissions="consumptionSettingCreate,consumptionSettingUpdate">
        <div class="panel-heading">
            <strong>新增餐廳</strong>
            <button class="btn btn-inf btn-confirm pull-right" data-ng-click="cancle_update()" check-permissions="consumptionSettingCreate">新增餐廳</button>
        </div>
        <div class="panel-content">
            <form name="form_food"  class="ng-valid ng-dirty form-validation" server-validation="{{sub_post_put}}{{form_url}}">
                <table>
                    <tr height="50">
                        <td width="126" class="text-right">餐廳名稱：</td>
                        <td width="209"><input type="text" data-ng-model="food.restaurant_name" name="restaurant_name"  class="form-control"></td>
                        <td width="50">&nbsp;</td>
                        <td width="120" class="text-right">所屬酒店：</td>
                        <td width="209">
                            <select name="hotel_id" class="form-control" data-ng-model="food.hotel_id">
                                <option value="">請選擇酒店</option>
                                <option ng-repeat="hotel in hotel_lists" value="{{hotel.id}}">{{hotel.hotel_name}}</option>
                            </select>
                        </td>
                        <td width="126" class="text-right">操作密碼：</td>
                        <td width="209"><input type="password" data-ng-model="food.pin_code" name="pin_code"  class="form-control" data-enter-key="submit()"></td>
                    </tr>
                </table>
                <br><br><br>
                <div class="row" style="text-align: center;">
                    <button class="btn btn-confirm margin-right-15" data-ng-disabled="isDisabled" ng-click="submit()">提交</button>
                    <button class="btn btn-cancel" ng-click="reset()">重置</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-list-detail col-md-9">
        <div class="panel-heading">
            <table class="pull-right" style="font-size: 14px;">
                <tbody>
                <tr>
                    <td class="text-right" width="70">酒店：</td>
                    <td class="text-left" width="140">
                        <select name="hotel_id" class="form-control" data-ng-model="condition.hotel_id">
                            <option value="">請選擇酒店</option>
                            <option ng-repeat="hotel in hotel_lists" value="{{hotel.id}}">{{hotel.hotel_name}}</option>
                        </select>
                    </td>
                    <td class="text-right" width="80">餐廳：</td>
                    <td class="text-right">
                        <div id="text-sear02" class="form-group has-success has-feedback col-md-2">
                            <input id="inputSuccess2" class="form-control ng-pristine ng-valid" type="text" placeholder="" data-ng-model="condition.restaurant_name" name="restaurant_name">
                            <span class="fa fa-search form-control-feedback" ng-click="search()"></span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-content">
            <table class="table table-bordered table-striped table-hover table-click">
                <thead>
                <tr>
                    <td>酒店</td>
                    <td>餐廳名稱</td>
                    <td check-permissions="consumptionSettingUpdate,consumptionSettingDelete">操作</td>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="restaurant in restaurants" data-selected-rows>
                        <td>{{ restaurant.hotel_name }}</td>
                        <td>{{ restaurant.restaurant_name }}</td>
                        <td class="no-padding" check-permissions="consumptionSettingUpdate,consumptionSettingDelete">
                            <button check-permissions="consumptionSettingUpdate" class="btn btn-information btn-table margin-right-5" data-ng-click="update(restaurant.id)">修改</button>
                            <button check-permissions="consumptionSettingDelete" class="btn btn-information btn-table" data-ng-click="delete(restaurant.id)">刪除</button>
                        </td>
                    </tr>
                    <tr data-ng-show="!restaurants.length">
                        <td colspan="11">暫無符合條件的記錄</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="table-footer">
            <div class="text-right pagination-container">
                <pagination class="pagination-sm"
                            page="page.page"
                            total-items="page.total_items"
                            on-select-page="search(page)"
                            max-size = "page.max_size"
                            items-per-page = "page.items_per_page"
                            data-ng-hide="page.total_items <= page.items_per_page"></pagination>
                <paginationselect pageCtrl="page" select-page="search"></paginationselect>
            </div>
        </footer>
    </div>
</div>