<div class="page page-grid" data-ng-controller="oldConsumptionRecordListCtrl">
    <div class="panel panel-default">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="panel panel-form-list">
                        <div class="panel-heading"><strong>消費記錄</strong></div>
                        <div class="panel-content">
                            <form name="form_search">
                                <table>
                                    <tr height="50">
                                        <td width="200" class="text-right">所在廳：</td>
                                        <td width="160">
                                            <select data-ng-model="condition.hall_name" class="form-control" ng-options="h.hall_name as h.hall_name for h in halls">
                                                <option value = "">請選擇廳館</option>
                                            </select>
                                        </td>
                                        <td width="120" class="text-right">單號：</td>
                                        <td width="160"><input type="text" data-ng-model="condition.seqnumber" data-input-uppercase class="form-control"></td>
                                        <td class="text-right">年  月：</td>
                                        <td>
                                            <table class="table-inner">
                                                <tr>
                                                    <td>
                                                        <p class="input-group ui-datepicker">
                                                            <input type="text" class="form-control" datepicker-popup datepicker-mode="month" ng-model="condition.year_month"/>
                                                            <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                                                            </span>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="120" class="text-right">日期：</td>
                                        <td width="160">
                                            <p class="input-group ui-datepicker  pull-left">
                                                <input type="text" class="form-control input-92" datepicker-popup ng-model="condition.o_date"/>
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </td>
                                        <!--<td width="120" class="text-right">線頭：</td>
                                        <td width="160"><input type="text" data-ng-model="condition.funds_type_remark" data-input-uppercase class="form-control"></td>
-->
                                    </tr>
                                    <tr height="50">
                                        <td width="200" class="text-right">消費類型：</td>
                                        <td width="140">
                                            <select name="consumption_type_id" class="form-control" data-ng-model="condition.consumption_type" data-ng-options="n.consumption_type as n.consumption_type for n in consumptionTypes">
                                                <option value="">請選擇消費類型</option>
                                            </select>
                                        </td>
                                        <td width="120" class="text-right">戶口：</td>
                                        <td width="160"><input type="text" data-ng-model="condition.agent_code" data-input-uppercase class="form-control"></td>
                                        <td width="120" class="text-right">房編號：</td>
                                        <td width="160"><input type="text" data-ng-model="condition.room_no" data-input-uppercase class="form-control"></td>
                                        <td colspan="4">&nbsp;</td>
                                    </tr>
                                </table><br/><br/>
                                <div class="row" style="text-align: center;">
                                    <button class="btn btn-info btn-information margin-right-15" ng-click="search()">查詢</button>
                                    <button class="btn btn-inf btn-cancel" data-ng-click="reset()">重置</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-list-detail">
                        <div class="panel-heading">
                            <button class="btn btn-info btn-information margin-right-15 pull-right" type="button" report-params="excel_condition" channel-type="OldConsumptionRecordListReport" report-btn >導出EXCEL</button>
                        </div>
                        <div class="panel-content table-dynamic">
                            <perfect-scrollbar class="animate-fade-up consumption_record" style="position: relative; overflow: hidden;" suppress-scroll-x="false" wheel-propagation="true" wheel-speed="50" >
                                <div class="panel-content consumption_record"  style="min-height: 100px; width: 2500px;">
                                    <table class="table table-bordered table-hover table-striped" width="100%">
                                        <thead>
                                        <tr>
                                            <td>單編號</td>
                                            <td>房編號</td>
                                            <td>新增時間</td>
                                            <td>所在廳</td>
                                            <td>戶口</td>
                                            <td>戶名</td>
                                            <td>消費類型</td>
                                            <td>消費內容</td>
                                            <td>入住客人</td>
                                            <td>數量</td>
                                            <td>房間消費</td>
                                            <td>成本</td>
                                            <td>實收</td>
                                            <td>收益</td>
                                            <td>付款方式</td>
                                            <td width="800">備註</td>
                                            <td>年份</td>
                                            <td>月份</td>
                                            <td>日期</td>
                                            <td>更數</td>
                                            <td>經手人</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="record in records" data-selected-rows>
                                            <td>{{record.seqnumber}}</td>
                                            <td>{{record.room_no}}</td>
                                            <td>{{record.create_time |parseDate:"yyyy-MM-dd HH:mm"}}</td>
                                            <td>{{record.hall_name}}</td>
                                            <td>{{record.agent_code}}</td>
                                            <td>{{record.agent_name}}</td>
                                            <td>{{record.consumption_type}}</td>
                                            <td>{{record.consumption_content}}</td>
                                            <td>{{record.guest}}</td>
                                            <td>{{record.count}}</td>
                                            <td>{{record.room_consumption}}</td>
                                            <td>{{record.cost_total}}</td>
                                            <td>{{record.sell_total}}</td>
                                            <td>{{record.profit}}</td>
                                            <td>{{record.pay_type}}</td>
                                            <td>{{record.remark}}</td>
                                            <td>{{record.year}}</td>
                                            <td>{{record.month}}</td>
                                            <td>{{record.o_date|parseDate:"yyyy-MM-dd"}}</td>
                                            <td>{{record.shift}}</td>
                                            <td>{{record.handling}}</td>
                                        </tr>
                                        <tr ng-show="records.length == 0">
                                            <td colspan="21">暫無符合條件的記錄</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </perfect-scrollbar>
                            <footer class="table-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right pagination-container">
                                        <pagination class="pagination-sm"
                                                    page="pagination.page"
                                                    total-items="pagination.total_items"
                                                    on-select-page="select(page)"
                                                    max-size = "pagination.max_size"
                                                    items-per-page = "pagination.items_per_page"
                                                    data-ng-hide="pagination.total_items <= pagination.items_per_page"></pagination>
                                        <paginationselect pageCtrl="pagination" select-page="select" ></paginationselect>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>