<div class="page page-grid" data-ng-controller="oldDepositCardRecord">
    <div class="panel panel-default">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="panel panel-form-list">
                        <div class="panel-heading"><strong>存卡流水</strong></div>
                        <div class="panel-content">
                            <form name="form_search">
                                <table>
                                    <tr height="50">
                                        <td width="220" class="text-right">廳館：</td>
                                        <td width="160">
                                            <select data-ng-model="condition.hall_name" class="form-control" ng-options="h.hall_name as h.hall_name for h in halls">
                                                <option value = "">請選擇廳館</option>
                                            </select>
                                        </td>
                                        <td width="120" class="text-right">戶口編號：</td>
                                        <td width="160"><input type="text" data-ng-model="condition.agent_code" data-input-uppercase class="form-control"></td>
                                        <td width="120" class="text-right">中文名：</td>
                                        <td width="160">{{condition.agent_name}}</td>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr height="50">
                                        <td class="text-right">年  月：</td>
                                        <td>
                                            <table class="table-inner">
                                                <tr>
                                                    <td>
                                                        <p class="input-group ui-datepicker">
                                                            <input type="text" class="form-control" datepicker-popup datepicker-mode="month" ng-model="condition.year_month"/>
                                                            <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                                                            </span>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <!--<td width="120" align="right"><span class="span-formlist">指定日期：</span></td>-->
                                        <!--<td width="160">-->
                                        <!--<p class="input-group ui-datepicker pull-left">-->
                                        <!--<input type="text" class="form-control" datepicker-popup datepicker-mode="day" ng-model="condition.shiftMark.shift_date"/>-->
                                        <!--<span class="input-group-btn">-->
                                        <!--<button type="button" class="btn btn-default btn-datepicker"><i class="glyphicon glyphicon-calendar"></i></button>-->
                                        <!--</span>-->
                                        <!--</p>-->
                                        <!--</td>-->
                                        <td class="text-right">日期范围：</td>
                                        <td width="350" colspan="3">
                                            <p class="input-group ui-datepicker  col-md-5  pull-left">
                                                <input type="text" class="form-control input-92" datepicker-popup ng-model="condition.o_date[0]"/>
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                            <p class="pull-left  col-md-1">~</p>
                                            <p class="input-group ui-datepicker col-md-5 pull-left">
                                                <input type="text" class="form-control" datepicker-popup ng-model="condition.o_date[1]"/>
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </td>
                                        <td class="text-right">存取類型：</td>
                                        <td>
                                            <select data-ng-model="condition.transaction_type" class="form-control" >
                                                <option value="">請選擇類型</option>
                                                <option value="存款">存款</option>
                                                <option value="開工">開工</option>
                                                <option value="取款">取款</option>
                                                <option value="轉入">轉入</option>
                                                <option value="轉出">轉出</option>
                                                <option value="飛入">飛入</option>
                                                <option value="飛出">飛出</option>
                                                <option value="即出碼佣">即出碼佣</option>
                                                <option value="回M">回M</option>
                                                <option value="積分回收">積分回收</option>
                                                <!--<option value="11">回M</option>-->
                                                <option value="還款">還款</option>
                                                <!--<option value="13">還款</option>-->
                                                <option value="還息">還息</option>
                                                <!--<option value="15">還息</option>-->
                                                <option value="出佣">出佣</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table><br/><br/>
                                <div class="row" style="text-align: center;">
                                    <button class="btn btn-info btn-information margin-right-15" ng-click="search()">查詢</button>
                                    <button class="btn btn-inf btn-cancel" data-ng-click="reset()">重置</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-list-detail">
                        <div class="panel-heading">
                            <button class="btn btn-info btn-information margin-right-15 pull-right" type="button" report-params="excel_condition" channel-type="OldDepositCardRecordReport" report-btn >導出EXCEL</button>
                        </div>
                        <div class="panel-content table-dynamic">
                            <perfect-scrollbar class="animate-fade-up consumption_record" style="position: relative; overflow: hidden;" suppress-scroll-x="false" wheel-propagation="true" wheel-speed="50" >
                                <div class="panel-content consumption_record"  style="min-height: 100px; width: 2000px;">
                                    <table class="table table-hover table-bordered table-striped" width="100%">
                                        <thead>
                                        <tr>
                                            <td>所在廳</td>
                                            <td>戶口</td>
                                            <td>姓名</td>
                                            <td>新增時間</td>
                                            <td>存取類型</td>
                                            <td>金額(萬)</td>
                                            <td>結餘(萬)</td>
                                            <td>交易人</td>
                                            <td>備註</td>
                                            <td>年份</td>
                                            <td>月份</td>
                                            <td>日期</td>
                                            <td>更數</td>
                                            <td>經手人</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="depositCard in depositCards" data-selected-rows>
                                            <td>{{depositCard.hall_name}}</td>
                                            <td>{{depositCard.agent_code}}</td>
                                            <td>{{depositCard.agent_name}}</td>
                                            <td>{{depositCard.create_time|parseDate:"yyyy-MM-dd HH:mm"}}</td>
                                            <td>{{depositCard.transaction_type}}</td>
                                            <td>
                                                <span data-ng-show="depositCard.transaction_amount >= 0" >{{depositCard.transaction_amount|parseTenThousand2}}</span>
                                                <span data-ng-show="depositCard.transaction_amount < 0" class="minus-number">{{depositCard.transaction_amount|parseTenThousand2|plusMinus}}</span>
                                            </td>
                                            <td>
                                                <span data-ng-show="depositCard.deposit_amount >= 0" >{{depositCard.deposit_amount|parseTenThousand2}}</span>
                                                <span data-ng-show="depositCard.deposit_amount < 0 && depositCard.deposit_amount > -1" class="minus-number">{{depositCard.deposit_amount | parseFloatWind}}</span>
                                                <span data-ng-show="depositCard.deposit_amount < 0 && depositCard.deposit_amount <= -1" class="minus-number">{{depositCard.deposit_amount|parseTenThousand2|plusMinus}}</span>
                                            </td>
                                            <td>{{depositCard.trader}}</td>
                                            <td>{{depositCard.remark}}</td>
                                            <td>{{depositCard.year}}</td>
                                            <td>{{depositCard.month}}</td>
                                            <td>{{depositCard.o_date|parseDate:"yyyy-MM-dd"}}</td>
                                            <td>{{depositCard.shift}}</td>
                                            <td>{{depositCard.handling}}</td>
                                        </tr>
                                        <tr ng-show="depositCards.length == 0">
                                            <td colspan="14">暫無符合條件的記錄</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </perfect-scrollbar>
                            <footer class="table-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right pagination-container">
                                   <!--     <pagination class="pagination-sm"
                                                    page="current_page"
                                                    total-items="pagination.total_items"
                                                    on-select-page="select(page)"
                                                    max-size = "pagination.max_size"
                                                    items-per-page = "pagination.items_per_page"></pagination>-->
                                        <!--<paginationselect pageCtrl="pagination" select-page="scene_search" ></paginationselect>-->
                                        <pagination class="pagination-sm"
                                                    page="pagination.page"
                                                    total-items="pagination.total_items"
                                                    on-select-page="select(page)"
                                                    max-size = "pagination.max_size"
                                                    items-per-page = "pagination.items_per_page"
                                                    data-ng-hide="pagination.total_items <= pagination.items_per_page"></pagination>
                                        <paginationselect pageCtrl="pagination" select-page="select" ></paginationselect>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
