<div class="modal-header">
    <h3>請求飛數</h3>
</div>
<div class="modal-body">
    <form name="$parent.form_cross_transfer_create" class="form-validation" server-validation="POST{{cross_transfer_url}}">
        <div class="row">
            <div class="col-md-12">
                <table  class="table table-nobor">
                    <tr height="35">
                        <td width="120" class="text-right">日期：</td>
                        <td width="180">{{shift_mark.shift_date|parseDate:'yyyy-MM-dd'}}</td>
                        <td width="120" class="text-right">更數：</td>
                        <td>{{shift_mark.shift}}</td>
                    </tr>
                    <tr height="40">
                        <td width="70" class="text-right">飛出廳：</td>
                        <td>
                            <select data-ng-required="enableClientValidation" data-ng-model="cross_transfer.send_hall_id" name="send_hall_id" data-ng-change="select_hall()" class="form-control" data-ng-options="h.id as h.hall_name for h in halls">
                                <option value="">請選擇開戶廳館</option>
                            </select>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="40">
                        <td class="text-right">飛出戶口：</td>
                        <td><input data-input-uppercase name="send_agent_code" type="text" data-ng-model="cross_transfer.send_agent_code" class="form-control"></td>
                        <td  class="text-right">姓名：</td>
                        <td>{{send_agent.agent_name}}</td>
                    </tr>
                    <tr height="40">
                        <td class="text-right">飛出存卡：</td>
                        <td>
                            <select data-ng-required="enableClientValidation" name="send_card_id" data-ng-change="select_send_card()" data-ng-model="cross_transfer.send_card_id" class="form-control" data-ng-options="card.id as card.card_name for card in cards" >
                                <option value="">請選擇存卡</option>
                            </select>
                        </td>
                        <td class="text-right">飛出存卡餘額：</td>
                        <td>{{deposit_send_card.deposit_amount|parseTenThousand}}</td>
                    </tr>
                    <tr height="40">
                        <td class="text-right">已凍結：</td>
                        <td>{{deposit_send_card.frozen_amount|parseTenThousand}}</td>
                        <td class="text-right">可用餘額：</td>
                        <td>{{deposit_send_card.usable_amount|parseTenThousand}}</td>
                    </tr>
                    <tr height="40">
                        <td class="text-right">所在廳：</td>
                        <td>{{user.hall.hall_name}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr height="40">
                        <td class="text-right">飛入客戶：</td>
                        <td><input data-input-uppercase name="receive_agent_code" data-ng-disabled="show_cross" type="text" data-ng-model="cross_transfer.receive_agent_code" class="form-control"></td>
                        <td class="text-right">姓名：</td>
                        <td>{{receive_agent.agent_name}}</td>
                    </tr>
                    <tr height="40">
                        <td class="text-right">飛入存卡：</td>
                        <td>
                            <select data-ng-required="enableClientValidation" name="receive_card_id" data-ng-change="select_receive_card()" data-ng-model="cross_transfer.receive_card_id" class="form-control" data-ng-options="card.id as card.card_name for card in receive_cards" >
                                <option value="">請選擇存卡</option>
                            </select>
                        </td>
                        <td class="text-right">飛入存卡餘額：</td>
                        <td>{{deposit_receive_card.deposit_amount|parseTenThousand}}</td>
                    </tr>
                    <tr height="40">
                        <td class="text-right">已凍結：</td>
                        <td>{{deposit_receive_card.frozen_amount|parseTenThousand}}</td>
                        <td class="text-right">可用餘額：</td>
                        <td>{{deposit_receive_card.usable_amount|parseTenThousand}}</td>
                    </tr>
                    <tr height="40">
                        <td class="text-right">飛數金額：</td><!--data-ng-pattern="/^[0-9]{1,9}$/"-->
                        <td><input  data-ng-required="enableClientValidation" data-ng-model="cross_transfer.amount" name="amount" type="text" class="form-control input-01"  style="float:left;width:135px;">萬</td>
                        <td class="text-right">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="40">
                        <td valign="top" class="text-right">備註：</td>
                        <td colspan="3"><textarea  id="remark" class="form-control textarea-table01 ng-pristine ng-valid" rows="4" data-ng-model="cross_transfer.remark" name="remark"></textarea></td>
                    </tr>
                    <tr height="40">
                        <td class="text-right">操作密碼：</td>
                        <td><input name="pin_code" type="password" data-ng-model="cross_transfer.pin_code" class="form-control" data-enter-key="add()"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <button class="btn btn-confirm margin-right-15" ng-click="add()" data-ng-disabled="disabled_submit">提交</button>
            <button class="btn btn-cancel" data-ng-click="reset()">重置</button>
        </div>
    </form>
</div>
