<div class="page page-grid" data-ng-controller="agentListCtrl">
    <div class="panel panel-default">
        <div class="panel_l col-md-8">
            <div class="panel panel-form-list">
                <div class="panel-heading"><strong>戶口查詢</strong></div>
                <div class="panel-content">
                    <form name="form_search">
                        <table>
                            <tr height="50">
                                <td width="100" class="text-right">戶口編號：</td>
                                <td width="180"><input type="text" data-input-uppercase data-ng-model="condition.agent_code" class="form-control"></td>
                                <td width="100" class="text-right">戶口姓名：</td>
                                <td width="180"><input type="text" data-ng-model="condition.agentMaster.agent_contact_name" class="form-control"></td>
                                <td width="100" class="text-right">戶組：</td>
                                <td width="180"><input type="text" data-ng-model="condition.agentGroup.agent_group_name" class="form-control"></td>
                                <td width="120" class="text-right">證件號碼：</td>
                                <td width="180"><input type="text" data-ng-model="condition.agentMaster.agentContactIdcards.idcard_number" class="form-control"></td>

                            </tr>
                            <tr height="50">
                                <td width="120" class="text-right">聯絡電話：</td>
                                <td width="180"><input type="text" data-ng-model="condition.refTelAgentMasterNoticeType.agentContactTel.telephone_number" class="form-control"></td>
                                <td width="100" class="text-right">介紹人：</td>
                                <td width="180"><input type="text" data-ng-model="condition.introducer" class="form-control"></td>
                                <td width="120" class="text-right">開戶廳館：</td>
                                <td width="209">
                                    <select data-ng-model="condition.hall_id" class="form-control" data-ng-options="h.id as h.hall_name for h in halls">
                                        <option value="">請選擇開戶廳館</option>
                                    </select>
                                </td>
                                <td width="120" class="text-right">開戶日期：</td>
                                <td width="209">
                                    <p class="input-group ui-datepicker">
                                        <input type="text" class="form-control" datepicker-popup ng-model="condition.register_time[0]" />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    </p>
                                </td>
                            </tr>

                        </table><br/><br/>
                        <div class="row" style="text-align: center;">
                            <button class="btn btn-information margin-right-5" data-ng-click="search()">查詢</button>
                            <button class="btn btn-inf btn-cancel" data-ng-click="reset()">重置</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-list-detail">
            <div class="panel-heading">
                <button class="btn btn-info btn-information btn-table pull-right"  report-btn all-show="true" channel-type="AgentListReport" report-params="excel_condition">導出戶口信息</button>
                <button class="btn btn-confirm btn-table pull-right" data-ng-click="addAgents()"  check-permissions="agentCreate">新增戶口</button>
            </div>
            <div class="panel-content table-dynamic">



            <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <td data-td-sort data-td-sort-up="agent_code NUMASC" data-td-sort-down="agent_code NUMDESC" data-td-sort-select="select" data-td-sort-pagination="pagination" data-min-screen-width="85">
                    戶口編號
                </td>
                <td data-min-screen-width="80">姓名</td>
                <td data-min-screen-width="40">性別</td>
                <td data-min-screen-width="40">國籍</td>
                <td data-min-screen-width="40">語言</td>
                <td data-min-screen-width="100">聯絡電話</td>
                <td data-min-screen-width="100">證件類型</td>
                <td data-min-screen-width="100">證件號碼</td>
                <td width="265" data-min-screen-width="200" check-permissions="agentView,agentUpdate,agentDelete">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="agent in agents" data-selected-rows>
                <td>{{agent.agent_code}}</td>
                <td>{{agent.agentMaster.agent_contact_name}}</td>
                <td>{{agent.agentMaster.gender|gender}}</td>
                <td>{{agent.agentMaster.nationality_name}}</td>
                <td>{{agent.agentMaster.language_type}}</td>
                <td>{{agent.refTelAgentMasterNoticeType[0].agentContactTel.area_code}}&nbsp;&nbsp;{{agent.refTelAgentMasterNoticeType[0].agentContactTel.telephone_number}}
                    <span data-ng-if="agent.refTelAgentMasterNoticeType.length > 0">
                        <i popover-placement="top" tooltip-html-unsafe="{{agent.refTelAgentMasterNoticeType | phone}}" class="fa fa-plus-circle cursor-pointer"></i>
                    </span>
                </td>
                <td>{{agent.agentMaster.agentContactIdcards[0].idcard_type_name}}&nbsp;<span data-ng-show="agent.agentMaster.agentContactIdcards[0].idcard_type_name && agent.agentMaster.agentContactIdcards[1].idcard_type_name">/</span>&nbsp;{{agent.agentMaster.agentContactIdcards[1].idcard_type_name}}</td>
                <td>{{agent.agentMaster.agentContactIdcards[0].idcard_number}}&nbsp;<span data-ng-show="agent.agentMaster.agentContactIdcards[0].idcard_number && agent.agentMaster.agentContactIdcards[1].idcard_number">/</span>&nbsp;{{agent.agentMaster.agentContactIdcards[1].idcard_number}}</td>
                <td class="no-padding" check-permissions="agentView,agentUpdate,agentDelete">
                    <button class="btn btn-information btn-table margin-right-5" ng-click="detailAgent(agent.id)" check-permissions="agentView">詳細</button>
                    <button class="btn btn-information btn-table margin-right-5" ng-click="update(agent.id)" check-permissions="agentUpdate">修改</button>
                    <button class="btn btn-information btn-table margin-right-5" ng-click="remove(agent.id)" check-permissions="agentDelete">刪除</button>
                    <button class="btn btn-confirm btn-table" data-ng-click="show_certificate(agent.id)">顯示證件</button>
                </td>
            </tr>
            <tr data-ng-show="agents.length == 0">
                <td colspan="10">暫無符合條件的記錄</td>
            </tr>
            </tbody>
            </table>
                <footer class="table-footer">
                    <div class="text-right pagination-container">
                        <pagination class="pagination-sm"
                                    page="pagination.page"
                                    total-items="pagination.total_items"
                                    on-select-page="select(page)"
                                    max-size = "pagination.max_size"
                                    items-per-page = "pagination.items_per_page"
                                    data-ng-hide="pagination.total_items <= pagination.items_per_page"></pagination>
                        <paginationselect pageCtrl="pagination" select-page="select"></paginationselect>
                    </div>
                </footer>
            </div>
            </div>
        </div>
        <div class="panel_r col-md-4">
            <div class="panel panel-list-detail">
                <div class="panel-heading">
                    <strong>查看證件</strong>
                </div>
                <div class="panel-content">
                    <div class="passport">
                        <div data-ng-repeat="c_image in certificate_images" style="width: 516px"  data-min-screen-width="390">
                            <a class="btn btn-confirm btn-table pull-right" style="margin: 5px 0;" ng-disabled="print_agent_image_submit" ng-click="print_agent_image(c_image.image);">列印</a>
                            <span class="passport_bg" >
                                <span class="passed" data-ng-show="c_image.image && agent_image.agentMaster.agentContactIdcards[$index].expire_date && agent_image.agentMaster.agentContactIdcards[$index].expire_date < now_data"><img src="images/sign.png"></span>
                                <img data-ng-show="c_image.image"  ng-src="{{c_image.image}}"/>
                                <span data-ng-show="c_image.image == ''" style="line-height: 280px">證件照片</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
