<div class="modal-header">
    <h3>主管授權</h3>
</div>
<div class="modal-body">
            <table class="table table-bordered table-striped table-detail-01">
                <tr>
                    <td>請輸入授權密碼：</td>
                    <td >
                        <input class="form-control input-01 ng-pristine ng-valid" type="text" ng-model="agent.pwd">
                    </td>
                </tr>
            </table>
    <!--<p class="color-warning">授權結果信息在這裡顯示</p>-->
    <br><br><br>
    <div class="row" style="text-align: center;">
        <button class="btn btn-info btn-confirm margin-right-15" ng-click="authorization()">授權</button>
        <button class="btn btn-inf btn-cancel" data-ng-click="cancel()">取消</button>
    </div>
    </div>
</div>