<div class="page page-services ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-form-list">
                <div class="panel-heading"><strong>新增密碼</strong></div>
                <div class="panel-content">
                    <form name="$parent.form_create_password" class="ng-valid ng-dirty form-validation" server-validation="POST{{create_remark_url}}">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-detail-01">
                                    <tbody>
                                    <tr>
                                        <td class="text-right">密碼：</td>
                                        <td>
                                            <input data-ng-required="enableClientValidation" name="password"  class="form-control input-01 ng-pristine ng-valid" type="password" ng-model="agent.password" />
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="text-right">確認密碼：</td>
                                        <td>
                                            <input data-ng-required="enableClientValidation" name="confirm_password" class="form-control input-01 ng-pristine ng-valid" type="password" ng-model="agent.confirm_password" />
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <button class="btn btn-info btn-confirm" data-ng-click="add()">提交</button>
                            <button class="btn btn-inf btn-cancel" data-ng-click="reset()">重置</button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
</div>