<div class="page page-services ng-scope" data-ng-controller="loanListCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-form-list">

                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form name="form_search">
                                <table class="table table-bordered table-striped table-detail-01">
                                    <tr >
                                        <td>所屬廳館</td>
                                        <td>戶口編號</td>
                                        <td>中文名</td>
                                        <td>時間</td>
                                        <td>存取類型</td>
                                        <td>金額</td>
                                        <td>結餘</td>
                                        <td>交易人</td>
                                        <td>備註</td>
                                        <td>經手人</td>
                                        <td>更數</td>
                                    </tr>
                                    <tr>
                                    <td>永利鉅星</td>
                                    <td>FA233</td>
                                    <td>李達文</td>
                                    <td>2014-08-08 23：00</td>
                                    <td>取款</td>
                                    <td>300萬</td>
                                    <td>500萬</td>
                                    <td>張三</td>
                                    <td></td>
                                    <td>李麗</td>
                                    <td>中更</td>
                                </tr>
                                    <tr>
                                        <td>永利鉅星</td>
                                        <td>FA233</td>
                                        <td>李達文</td>
                                        <td>2014-08-08 22：28</td>
                                        <td>取款</td>
                                        <td>250萬</td>
                                        <td>650萬</td>
                                        <td>張三</td>
                                        <td></td>
                                        <td>李麗</td>
                                        <td>中更</td>
                                    </tr>
                                    <tr>
                                        <td>永利鉅星</td>
                                        <td>FA233</td>
                                        <td>李達文</td>
                                        <td>2014-08-08 22：18</td>
                                        <td>存款</td>
                                        <td>300萬</td>
                                        <td>800萬</td>
                                        <td>張三</td>
                                        <td></td>
                                        <td>李麗</td>
                                        <td>中更</td>
                                    </tr>
                                    <tr>
                                        <td>永利鉅星</td>
                                        <td>FA233</td>
                                        <td>李達文</td>
                                        <td>2014-08-08 20：28</td>
                                        <td>取款</td>
                                        <td>200萬</td>
                                        <td>500萬</td>
                                        <td>張三</td>
                                        <td></td>
                                        <td>李麗</td>
                                        <td>中更</td>
                                    </tr>
                                    <tr>
                                        <td>永利鉅星</td>
                                        <td>FA233</td>
                                        <td>李達文</td>
                                        <td>2014-08-08 18：28</td>
                                        <td>存款</td>
                                        <td>100萬</td>
                                        <td>700萬</td>
                                        <td>張三</td>
                                        <td></td>
                                        <td>李麗</td>
                                        <td>中更</td>
                                    </tr>
                                    <tr>
                                        <td>永利鉅星</td>
                                        <td>FA233</td>
                                        <td>李達文</td>
                                        <td>2014-08-08 17：28</td>
                                        <td>存款</td>
                                        <td>300萬</td>
                                        <td>600萬</td>
                                        <td>張三</td>
                                        <td></td>
                                        <td>李麗</td>
                                        <td>中更</td>
                                    </tr>
                                    <tr>
                                        <td>永利鉅星</td>
                                        <td>FA233</td>
                                        <td>李達文</td>
                                        <td>2014-08-08 16：28</td>
                                        <td>存款</td>
                                        <td>300萬</td>
                                        <td>300萬</td>
                                        <td>張三</td>
                                        <td></td>
                                        <td>李麗</td>
                                        <td>中更</td>
                                    </tr>
                                    <!--<tr>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>王易</td>-->
                                        <!--<td>2014-08-08 16：28</td>-->
                                        <!--<td>存款</td>-->
                                        <!--<td>300萬</td>-->
                                        <!--<td>500萬</td>-->
                                        <!--<td>張三</td>-->
                                        <!--<td></td>-->
                                        <!--<td>李麗</td>-->
                                        <!--<td>中更</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>王易</td>-->
                                        <!--<td>2014-08-08 16：28</td>-->
                                        <!--<td>存款</td>-->
                                        <!--<td>300萬</td>-->
                                        <!--<td>500萬</td>-->
                                        <!--<td>張三</td>-->
                                        <!--<td></td>-->
                                        <!--<td>李麗</td>-->
                                        <!--<td>中更</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>王易</td>-->
                                        <!--<td>2014-08-08 16：28</td>-->
                                        <!--<td>存款</td>-->
                                        <!--<td>300萬</td>-->
                                        <!--<td>500萬</td>-->
                                        <!--<td>張三</td>-->
                                        <!--<td></td>-->
                                        <!--<td>李麗</td>-->
                                        <!--<td>中更</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>王易</td>-->
                                        <!--<td>2014-08-08 16：28</td>-->
                                        <!--<td>存款</td>-->
                                        <!--<td>300萬</td>-->
                                        <!--<td>500萬</td>-->
                                        <!--<td>張三</td>-->
                                        <!--<td></td>-->
                                        <!--<td>李麗</td>-->
                                        <!--<td>中更</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>王易</td>-->
                                        <!--<td>2014-08-08 16：28</td>-->
                                        <!--<td>存款</td>-->
                                        <!--<td>300萬</td>-->
                                        <!--<td>500萬</td>-->
                                        <!--<td>張三</td>-->
                                        <!--<td></td>-->
                                        <!--<td>李麗</td>-->
                                        <!--<td>中更</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>王易</td>-->
                                        <!--<td>2014-08-08 16：28</td>-->
                                        <!--<td>存款</td>-->
                                        <!--<td>300萬</td>-->
                                        <!--<td>500萬</td>-->
                                        <!--<td>張三</td>-->
                                        <!--<td></td>-->
                                        <!--<td>李麗</td>-->
                                        <!--<td>中更</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>王易</td>-->
                                        <!--<td>2014-08-08 16：28</td>-->
                                        <!--<td>存款</td>-->
                                        <!--<td>300萬</td>-->
                                        <!--<td>500萬</td>-->
                                        <!--<td>張三</td>-->
                                        <!--<td></td>-->
                                        <!--<td>李麗</td>-->
                                        <!--<td>中更</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>王易</td>-->
                                        <!--<td>2014-08-08 16：28</td>-->
                                        <!--<td>存款</td>-->
                                        <!--<td>300萬</td>-->
                                        <!--<td>500萬</td>-->
                                        <!--<td>張三</td>-->
                                        <!--<td></td>-->
                                        <!--<td>李麗</td>-->
                                        <!--<td>中更</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>王易</td>-->
                                        <!--<td>2014-08-08 16：28</td>-->
                                        <!--<td>存款</td>-->
                                        <!--<td>300萬</td>-->
                                        <!--<td>500萬</td>-->
                                        <!--<td>張三</td>-->
                                        <!--<td></td>-->
                                        <!--<td>李麗</td>-->
                                        <!--<td>中更</td>-->
                                    <!--</tr>-->



                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <button class="btn btn-info btn-confirm" data-ng-click="add()">列印</button>
                        <button class="btn btn-inf btn-cancel" data-ng-click="remove()">關閉</button>
                    </div>
                </div>
                <div class="panel-footer">

                </div>


            </div>

        </div>

    </div>
</div>