<div class="page page-services ng-scope" data-ng-controller="loanListCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-form-list">

                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form name="form_search">
                                <table class="table table-bordered table-striped table-detail-01">
                                    <tr >
                                        <td>所屬廳館</td>
                                        <td>戶口編號</td>
                                        <td>戶口</td>
                                        <td>場次編號</td>
                                        <td>轉碼金額</td>
                                        <td>本月合計</td>
                                        <td>轉碼時間</td>
                                        <td>備註</td>
                                        <td>經手人</td>
                                        <td>更數</td>
                                        <td>操作機器</td>
                                    </tr>
                                    <tr data-ng-click="sceneRecord()">
                                        <td>永利鉅星</td>
                                        <td>FA233</td>
                                        <td>永利鉅星</td>
                                        <td>T0002</td>
                                        <td>3萬</td>
                                        <td>96萬</td>
                                        <td>2014-08-08 20:28</td>
                                        <td>對沖</td>
                                        <td>陳美華</td>
                                        <td>早更</td>
                                        <td>永利鉅星-賬房-左2</td>
                                    </tr>
                                    <tr data-ng-click="sceneRecord()">
                                        <td>永利鉅星</td>
                                        <td>FA233</td>
                                        <td>永利鉅星</td>
                                        <td>T0002</td>
                                        <td>63萬</td>
                                        <td>93萬</td>
                                        <td>2014-08-08 19:28</td>
                                        <td>對沖</td>
                                        <td>陳美華</td>
                                        <td>早更</td>
                                        <td>永利鉅星-賬房-左2</td>
                                    </tr>
                                    <tr data-ng-click="sceneRecord()">
                                        <td>永利鉅星</td>
                                        <td>FA233</td>
                                        <td>永利鉅星</td>
                                        <td>T0002</td>
                                        <td>13萬</td>
                                        <td>30萬</td>
                                        <td>2014-08-08 18:28</td>
                                        <td>對沖</td>
                                        <td>陳美華</td>
                                        <td>早更</td>
                                        <td>永利鉅星-賬房-左2</td>
                                    </tr>
                                    <tr data-ng-click="sceneRecord()">
                                        <td>永利鉅星</td>
                                        <td>FA233</td>
                                        <td>永利鉅星</td>
                                        <td>T0002</td>
                                        <td>5萬</td>
                                        <td>17萬</td>
                                        <td>2014-08-08 17:28</td>
                                        <td>對沖</td>
                                        <td>陳美華</td>
                                        <td>早更</td>
                                        <td>永利鉅星-賬房-左2</td>
                                    </tr>
                                    <tr data-ng-click="sceneRecord()">
                                        <td>永利鉅星</td>
                                        <td>FA233</td>
                                        <td>永利鉅星</td>
                                        <td>T0002</td>
                                        <td>3萬</td>
                                        <td>12萬</td>
                                        <td>2014-08-08 16:28</td>
                                        <td>對沖</td>
                                        <td>陳美華</td>
                                        <td>早更</td>
                                        <td>永利鉅星-賬房-左2</td>
                                    </tr>
                                    <!--<tr data-ng-click="sceneRecord()">-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>T0002</td>-->
                                        <!--<td>3萬</td>-->
                                        <!--<td>68萬</td>-->
                                        <!--<td>2014-08-08 16:28</td>-->
                                        <!--<td>對沖</td>-->
                                        <!--<td>陳美華</td>-->
                                        <!--<td>早更</td>-->
                                        <!--<td>永利鉅星-賬房-左2</td>-->
                                    <!--</tr>-->
                                    <!--<tr data-ng-click="sceneRecord()">-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>T0002</td>-->
                                        <!--<td>3萬</td>-->
                                        <!--<td>68萬</td>-->
                                        <!--<td>2014-08-08 16:28</td>-->
                                        <!--<td>對沖</td>-->
                                        <!--<td>陳美華</td>-->
                                        <!--<td>早更</td>-->
                                        <!--<td>永利鉅星-賬房-左2</td>-->
                                    <!--</tr>-->
                                    <!--<tr data-ng-click="sceneRecord()">-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>T0002</td>-->
                                        <!--<td>3萬</td>-->
                                        <!--<td>68萬</td>-->
                                        <!--<td>2014-08-08 16:28</td>-->
                                        <!--<td>對沖</td>-->
                                        <!--<td>陳美華</td>-->
                                        <!--<td>早更</td>-->
                                        <!--<td>永利鉅星-賬房-左2</td>-->
                                    <!--</tr>-->
                                    <!--<tr data-ng-click="sceneRecord()">-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>T0002</td>-->
                                        <!--<td>3萬</td>-->
                                        <!--<td>68萬</td>-->
                                        <!--<td>2014-08-08 16:28</td>-->
                                        <!--<td>對沖</td>-->
                                        <!--<td>陳美華</td>-->
                                        <!--<td>早更</td>-->
                                        <!--<td>永利鉅星-賬房-左2</td>-->
                                    <!--</tr>-->
                                    <!--<tr data-ng-click="sceneRecord()">-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>T0002</td>-->
                                        <!--<td>3萬</td>-->
                                        <!--<td>68萬</td>-->
                                        <!--<td>2014-08-08 16:28</td>-->
                                        <!--<td>對沖</td>-->
                                        <!--<td>陳美華</td>-->
                                        <!--<td>早更</td>-->
                                        <!--<td>永利鉅星-賬房-左2</td>-->
                                    <!--</tr>-->
                                    <!--<tr data-ng-click="sceneRecord()">-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>T0002</td>-->
                                        <!--<td>3萬</td>-->
                                        <!--<td>68萬</td>-->
                                        <!--<td>2014-08-08 16:28</td>-->
                                        <!--<td>對沖</td>-->
                                        <!--<td>陳美華</td>-->
                                        <!--<td>早更</td>-->
                                        <!--<td>永利鉅星-賬房-左2</td>-->
                                    <!--</tr>-->
                                    <!--<tr data-ng-click="sceneRecord()">-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>FV8</td>-->
                                        <!--<td>永利鉅星</td>-->
                                        <!--<td>T0002</td>-->
                                        <!--<td>3萬</td>-->
                                        <!--<td>68萬</td>-->
                                        <!--<td>2014-08-08 16:28</td>-->
                                        <!--<td>對沖</td>-->
                                        <!--<td>陳美華</td>-->
                                        <!--<td>早更</td>-->
                                        <!--<td>永利鉅星-賬房-左2</td>-->
                                    <!--</tr>-->


                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <button class="btn btn-info btn-confirm" data-ng-click="add()">列印</button>
                        <button class="btn btn-inf btn-cancel" data-ng-click="remove()">關閉</button>
                    </div>
                </div>
                <div class="panel-footer">

                </div>


            </div>

        </div>

    </div>
</div>