<div class="page page-services ng-scope" data-ng-controller="shiftRecordCreateCtrl">
    <div class="panel panel-form-list col-md-10">
        <div class="panel-content">
            <table class="table table-bordered table-striped table-detail-01">
                <thead>
                <tr>
                    <td width="166">授權名稱</td>
                    <td width="166">模組</td>
                    <td>備註</td>
                    <td width="135">狀態</td>
                    <td width="129">操作</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input class="form-control input-01 ng-pristine ng-valid" type="text" ng-model="agent.agent_name"></td>
                    <td>
                        <ui-select ng-model="certificate.certificate_type">
                            <ui-select-match placeholder="請選擇">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="certificate_type in certificate_types">
                                <div ng-bind-html="certificate_type"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td><input class="form-control input-01 ng-pristine ng-valid" type="text" ng-model="agent.agent_name"></td>
                    <td>
                        <ui-select ng-model="certificate.certificate_type">
                            <ui-select-match placeholder="激活">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="certificate_type in certificate_types">
                                <div ng-bind-html="certificate_type"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td>
                        <button class="btn btn-info btn-confirm btn-table" ng-click="removeCertificate($index)">添加</button>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <button class="btn btn-info btn-confirm btn-table margin-right-5" ng-click="upload($index)">修改</button>
                        <button class="btn btn-info btn-information btn-table" ng-click="removeCertificate($index)">刪除</button>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>