<div class="page page-grid" data-ng-controller="commissionSharingCtrl">
    <div class="panel panel-default">
        <div class="panel_l col-md-9">
            <div class="panel">
                <div class="panel-content">
                    <div class="panel panel-form-list">
                        <div class="panel-heading"><strong>默認分成</strong></div>
                        <div class="panel-content">
                            <div class="">
                                <div class="col-md-6">
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <td>佣金類型</td>
                                            <td>本金類型</td>
                                            <td>字母</td>
                                            <td check-permissions="commissionDivideView">操作</td>
                                        </tr>
                                        <tr data-ng-repeat="commissions_divide in commissions_divides" data-selected-rows>
                                            <td>{{commissionTypes[commissions_divide.commission_type]}}</td>
                                            <td>{{commissions_divide.capital_type_name}}</td>
                                            <td>{{commissions_divide.letter_mark}}</td>
                                            <td class="no-padding" check-permissions="commissionDivideView">
                                            <!--<button class="btn btn-information btn-table margin-right-5" ng-click="update(commissions_rules.id,false)" check-permissions="commissionCommonRuleSettingView">详细</button>-->
                                            <button class="btn btn-information btn-table margin-right-5" ng-click="update(commissions_divide.id)" check-permissions="commissionDivideUpdate">修改</button>
                                            <!--<button class="btn btn-information btn-table" ng-click="delete(commissions_rules.id)" check-permissions="commissionCommonRuleSettingDelete">刪除</button>-->
                                        </td>
                                        </tr>
                                        <tr data-ng-show="commissions_divides.length == 0">
                                            <td colspan="4">暫無符合條件的記錄</td>
                                        </tr>
                                    </table>

                               <form name="form_commission_divide" class="form-validation" server-validation="{{sub_post}}{{commissions_rule_url}}">
                                <table>
                                    <tbody>
                                    <tr height="50">
                                        <td width="120" class="text-right">佣金類型：</td>
                                        <td width="150">{{commissionTypes[commissiondivide.commission_type]}}</td>
                                        <td width="135" class="text-right">本金類型：</td>
                                        <td width="150">{{commissiondivide.capital_type_name}}</td>
                                        <td width="135" class="text-right">字母：</td>
                                        <td width="150"><input  type="text" data-input-uppercase name="letter_mark" ng-model="commissiondivide.letter_mark" data-ng-required="enableClientValidation" class="form-control input-01 ng-pristine ng-valid" /></td>
                                    </tr>
                                    <tr height="50">
                                        <td class="text-right">佣金總額：</td>
                                        <td>{{commission_total()}}</td>
                                        <td class="text-right">積分總額：</td>
                                        <td>{{integral_total()}}</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td width="120" data-min-screen-width="80">用戶類型</td>
                                        <td data-min-screen-width="80">分派佣金額</td>
                                        <td data-min-screen-width="80">分派積分額</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="commissionDivideSub in commissiondivide.commissionDivideSubs">
                                        <td>{{userType[$index]}}</td>
                                        <td>
                                            <input data-min-screen-width="80" data-dynamic-name ="commissionDivideSubs_{{$index}}_commission_should" data-ng-required="enableClientValidation" class="form-control input-01 ng-pristine ng-valid input-92" type="text" ng-model="commissionDivideSub.commission_should">
                                        </td>
                                        <td><input data-min-screen-width="80"  data-dynamic-name ="commissionDivideSubs_{{$index}}_integral_should" data-ng-required="enableClientValidation" class="form-control input-01 ng-pristine ng-valid input-92" type="text" ng-model="commissionDivideSub.integral_should"></td>
                                        <!--<td>-->
                                        <!--<input data-min-screen-width="80" data-dynamic-name ="commissionRuleCommon_commissionRuleCommonSubs_{{$index}}_recycle_rate" data-ng-required="enableClientValidation" class="form-control input-01 ng-pristine ng-valid input-92" type="text" ng-model="commissionRuleCommonSub.recycle_rate">-->
                                        <!--</td>-->
                                        <td>
                                            <!--<input data-min-screen-width="70" data-input-uppercase data-dynamic-name ="commissionRuleCommon_commissionRuleCommonSubs_{{$index}}_integral_recycle_agent_id" data-ng-required="enableClientValidation" class="form-control input-01 ng-pristine ng-valid input-92" type="text" ng-model="commissionRuleCommonSub.integral_recycle_agent_code" >-->
                                            <i data-ng-show="$index == 0" class="fa fa-plus-circle cursor-pointer" data-ng-click="addCommissiondivide()"></i>
                                            <i data-ng-show="$index > 0" class="fa fa-minus-circle cursor-pointer " data-ng-click="removeCommissiondivide($index)"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-list-detail">
                                            <div class="panel-heading">
                                                <span style="float: left">適用廳：</span>
                                                <button class="btn btn-information pull-right" ng-click="resetCommission()" >重 置</button>
                                                <button class="btn btn-information margin-right-15 pull-right" ng-click="bindCommissionDivide()" data-ng-disabled="disabled_bind">綁 定</button>
                                            </div>
                                            <div class="panel-content">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                    <tr>
                                                        <td width="150" data-min-screen-width="80"><input type="checkbox" name="hall_check_alls" data-ng-model="hall_check_alls.hall_check_all1" data-ng-change="hall_check_all1()">全選</td>
                                                        <td>廳館</td>
                                                        <td width="150" data-min-screen-width="80"><input type="checkbox" name="hall_check_alls" data-ng-model="hall_check_alls.hall_check_all2" data-ng-change="hall_check_all2()">全選</td>
                                                        <td>廳館</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="hall in halls">
                                                            <td><input data-ng-required="enableClientValidation" type="checkbox" data-ng-model="hall[0].selected" data-ng-change="check_sms_notice_type_id(h)"></td>
                                                            <td><span data-ng-click="showCommission(hall[0].hall_name,hall[0].id)" style="cursor: pointer">{{hall[0].hall_name}} &nbsp;<i data-ng-show="hall_old_ids.indexOf(hall[0].id) >= 0" class="fa fa-exclamation"></i></span></td>
                                                            <td><span data-ng-show="hall.length == 2"><input data-ng-required="enableClientValidation" type="checkbox" data-ng-model="hall[1].selected" data-ng-change="check_sms_notice_type_id(h)"></span></td>
                                                            <td><span data-ng-click="showCommission(hall[1].hall_name,hall[1].id)" style="cursor: pointer">{{hall[1].hall_name}} &nbsp;<i data-ng-show="hall_old_ids.indexOf(hall[1].id) >= 0" class="fa fa-exclamation"></i></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                    <tr>
                                                        <td>操作密碼：</td>
                                                        <td>
                                                            <input data-ng-required="enableClientValidation" name = "pin_code" class="form-control input-01 ng-pristine ng-valid" type="password" ng-model="commissiondivide.pin_code" data-enter-key="add()">
                                                        </td>
                                                    </tr>
                                                    </thead>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div><br/>
                                <div class="row" style="text-align: center;">
                                    <button class="btn btn-information margin-right-15" ng-click="add()" data-ng-disabled="disabled_submit"  check-permissions="commissionDivideCreate">提交</button>
                                    <button class="btn btn-cancel" data-ng-click="reset_commissiondivide()">重置</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>