<div class="page page-grid" data-ng-controller="userPasswordCtrl">
    <div class="col-md-8">
    <div class="panel panel-form-list">
        <div class="panel-heading"><strong>用戶資料</strong></div>
        <div class="panel-content">
            <div class="row text-center">
                <form name="form_authitem_create" class="form-validation" server-validation="{{sub_post}}{{authitem_create_url}}">
                    <table class="table table-bordered table-striped table-detail-01">
                        <tr>
                            <td width="120" align="right">登錄名稱：</td>
                            <td align="left" width="200">{{user.username}}</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right">姓名：</td>
                            <td align="left">{{user.name}}</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right">員工編號：</td>
                            <td align="left">{{user.no}}</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right">部門：</td>
                            <td align="left">{{user.department.name}} </td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-striped table-detail-01">
                        <tr>
                            <td align="right" style="width: 120px">原登錄密碼：</td>
                            <td align="left">
                                <input type="password"
                                       data-ng-required="enableClientValidation"
                                       name="old_password"
                                       class="form-control"
                                       ng-model="password_create.old_password"/>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" width="120">新登錄密碼：</td>
                            <td align="left" width="200">
                                <input type="password"
                                       data-ng-required="enableClientValidation"
                                       name="new_password"
                                       class="form-control"
                                       ng-model="password_create.new_password"/>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" style="width: 120px">原操作密碼：</td>
                            <td align="left">
                                <input type="password"
                                       data-ng-required="enableClientValidation"
                                       name="old_pin_code"
                                       class="form-control"
                                       ng-model="password_create.old_pin_code"/>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="right" width="120">新操作密碼：</td>
                            <td align="left" width="200">
                                <input type="password"
                                       data-ng-required="enableClientValidation"
                                       name="new_pin_code"
                                       class="form-control"
                                       ng-model="password_create.new_pin_code"/>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-striped table-detail-01">
                        <tr>
                            <td align="right" style="width: 120px">操作密碼：</td>
                            <td align="left" width="200">
                                <input type="password"
                                       data-ng-required="enableClientValidation"
                                       name="pin_code"
                                       class="form-control"
                                       data-enter-key="add()"
                                       ng-model="password_create.pin_code"/>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </form>
        </div>
        <div class="row" style="text-align: center;"><br/>
            <button class="btn btn-confirm margin-right-15" data-ng-click="add()" data-ng-disabled="disabled_submit">提交</button>
            <button class="btn btn-cancel" data-ng-click="reset()">重置</button>
        </div>
    </div>
        <div class="panel-footer"></div>
    </div>

</div>
</div>