<div class="modal-header">
    <h3>手續費回滾</h3>
</div>
<div class="modal-body">
    <form name="$parent.form_rollback" class="ng-valid ng-dirty form-validation" server-validation="POST{{form_rollback}}">
        <div class="row">
            <div class="col-md-12">
                    <table class="table table-bordered table-striped table-detail-01">
                        <tr>
                            <td align="right" style="width: 93">內容：</td>
                            <td align="left" colspan="2">
                                <textarea data-ng-required="enableClientValidation" name="remark" id="" class="form-control textarea-table01 input-92 ng-pristine ng-valid" rows="4" data-ng-model="rollback.remark"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">操作密碼：</td>
                            <td align="left">
                                <input type="password" name="pin_code" data-ng-model="rollback.pin_code" class="form-control" data-enter-key="submit()">
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
        <div class="row" style="text-align: center;"><br/>
            <button class="btn btn-info btn-confirm" data-ng-click="submit()">提交</button>
            <button class="btn btn-inf btn-cancel" data-ng-click="cancel()">取消</button>
        </div>
    </form>
</div>
