<div class="modal-header">
    <h3>操作密碼</h3>
</div>
<div class="modal-body">
    <form  class="ng-valid ng-dirty form-validation" >
        <div class="row">
            <div class="col-md-12">
                    <table class="table table-bordered table-striped table-detail-01">
                        <tr>
                            <td width="100" align="right">操作碼：</td>
                            <td align="left" width="150"> <input   class="form-control " type="password" ng-model="data.pin_code" ></td>
                        </tr>
                    </table>
            </div>
        </div>
        <div class="row" style="text-align: center;"><br/>
            <button class="btn btn-info btn-confirm" data-ng-click="add()">確定</button>
        </div>
    </form>
</div>
