<div class="page page-grid" data-ng-controller="quotaSettingStreamCtrl">
<div class="panel panel-default">
<div class="panel_l col-md-12">
    <div class="panel">
        <div class="panel-content">
            <div class="panel panel-form-list">
            <div class="panel-heading">
                <strong>批額流水</strong>
                <!--<button class="btn btn-information btn-table pull-right" data-ng-click="addTicketManager()">新增存單</button>-->
            </div>
            <div class="panel-content">
                <form name="form_search">
                    <table>
                        <tr height="50">
                            <td width="200" class="text-right"><span class="span-formlist">戶口編號：</span></td>
                            <td width="209"><input data-input-uppercase type="text" data-ng-model="condition.agent_code" class="form-control"></td>
                            <td width="200" class="text-right"><span class="span-formlist">戶口姓名：</span></td>
                            <td width="209">{{ agent.agent_name }}</td>
                            <td width="200" class="text-right"><span class="span-formlist">戶口類型：</span></td>
                            <td width="209">{{ agent.agent_type }}</td>
                            <td width="200" class="text-right">上線：</td>
                            <td width="209">{{ agent.header }}</td>
                        </tr>
                    </table>
                    <br><br><br>
                    <div class="row" style="text-align: center;">
                        <button class="btn btn-information margin-right-15" ng-click="select()">查詢</button>
                        <button class="btn btn-cancel" data-ng-click="reset()">重置</button>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
            </div>
        </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-list-detail">
                <div class="panel-heading">
                    批額設定流水
                    <!--<button class="btn btn-info btn-information margin-right-15 pull-right" ng-click="search()">&nbsp;&nbsp;&nbsp;&nbsp;列印&nbsp;&nbsp;&nbsp;&nbsp;</button>-->
                    <!--<button class="btn btn-information pull-right" check-permissions="userCreate" data-ng-click="addUser()">新增用戶</button>-->
                </div>
                <div class="panel-content table-dynamic">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <td>戶口編號</td>
                            <td>貸款批額</td>
                            <td>批額範圍(萬)</td>
                            <td>期限(天)</td>
                            <td>息率</td>
                            <td>特殊天期</td>
                            <td>特殊息率</td>
                            <td>批額上限</td>
                            <td>操作</td>
                            <td>操作時間</td>
                            <td>經手人</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="stream in settingStreams" data-selected-rows>
                            <td>{{ stream.agent_code }}</td>
                            <td>{{ stream.funds_type }}</td>
                            <td>{{ stream.lower_amount }} - {{ stream.upper_amount == 0?"∞":stream.upper_amount }}</td>
                            <td>{{ stream.term }}</td>
                            <td>{{ stream.expired_rate|parseTenThousand2}}</td>
                            <td>{{ stream.special_term }}</td>
                            <td>{{ stream.special_rate|parseTenThousand2 }}</td>
                            <td>{{ stream.upper_limit }}</td>
                            <td>{{ operationTypes[stream.oper_type] }}</td>
                            <td>{{ stream.create_time | parseDate : 'yyyy-MM-dd HH:mm' }}</td>
                            <td>{{ stream.user_name }}</td>
                        </tr>
                        <tr data-ng-show="!settingStreams.length">
                            <td colspan="11">暫無符合條件的記錄</td>
                        </tr>
                        </tbody>
                    </table>
                    <footer class="table-footer">
                        <div class="text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="page.page"
                                        total-items="page.total_items"
                                        on-select-page="search(page)"
                                        max-size = "page.max_size"
                                        items-per-page = "page.items_per_page"
                                        data-ng-hide="page.total_items <= page.items_per_page"></pagination>
                            <!--<paginationselect pageCtrl="page" select-page="search"></paginationselect>-->
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-list-detail">
                <div class="panel-heading">
                    批額備註修改流水
                    <!--<button class="btn btn-info btn-information margin-right-15 pull-right" ng-click="search()">&nbsp;&nbsp;&nbsp;&nbsp;列印&nbsp;&nbsp;&nbsp;&nbsp;</button>-->
                    <!--<button class="btn btn-information pull-right" check-permissions="userCreate" data-ng-click="addUser()">新增用戶</button>-->
                </div>
                <div class="panel-content table-dynamic">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <td width="100">戶口編號</td>
                            <td>批額備註</td>
                            <td width="100">操作時間</td>
                            <td width="100">經手人</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="stream in settingStream_remarks" data-selected-rows>
                            <td>{{ stream.agent_code }}</td>
                            <td>{{stream.content}}</td>
                            <td>{{stream.oper_time | parseDate : 'yyyy-MM-dd HH:mm'}}</td>
                            <td>{{stream.user_name}}</td>
                        </tr>
                        <tr data-ng-show="!settingStream_remarks.length">
                            <td colspan="5">暫無符合條件的記錄</td>
                        </tr>
                        </tbody>
                    </table>
                    <footer class="table-footer">
                        <div class="text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="page_remark.page"
                                        total-items="page_remark.total_items"
                                        on-select-page="search_remark(page)"
                                        max-size = "page_remark.max_size"
                                        items-per-page = "page_remark.items_per_page"
                                        data-ng-hide="page_remark.total_items <= page_remark.items_per_page"></pagination>
                            <paginationselect pageCtrl="page_remark" select-page="search_remark"></paginationselect>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>