<div class="panel-form-list">
<div class="modal-header">
    <!--<button type="button" class="close" ng-click="cancel()">×</button>-->
    <h4 class="modal-title" id="myModalLabel">
        <h3>抵押回M：</h3>
    </h4>
</div>
<div class="modal-body">
    <form name="$parent.form_mortgage" class="ng-valid ng-dirty form-validation" server-validation="POST{{mortgage_url}}" >
    <div class="modal-body">
        <table class="table table-bordered table-striped table-detail-01" style="text-align: left;">
            <tr>
                <td class="text-right">抵押戶口：</td>
                <td>{{ mortgage_record.mortgage.agent_code}}</td>
                <td class="text-right">戶口姓名：</td>
                <td>{{mortgage_record.mortgage.agent_name}}</td>
            </tr>
            <tr>
                <td class="text-right">抵押金額：</td>
                <td>{{mortgage_record.mortgage_amount}} 萬</td>
                <td class="text-right">未回抵押金額：</td>
                <td>{{mortgage_record.settlement_amount}}</td>
            </tr>
                <td class="text-right">抵押方式：</td>
                <td>{{mortgageTypeFormat(mortgage_record.is_return_m,mortgage_record.is_all_mortgage)}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="text-right">業務單號：</td>
                <td>{{ mortgage_record.marker.loan_seqnumber}}</td>
                <td class="text-right">貸款單號：</td>
                <td>{{ mortgage_record.marker.marker_seqnumber}}</td>
            </tr>
            <tr>
                <td class="text-right">貸款金額：</td>
                <td>{{ mortgage_record.marker.marker_amount}} 萬</td>
                <td class="text-right">剩餘天期：</td>
                <td>{{mortgage_record.marker.settlement_term}}</td>
            </tr>
            <tr>
                <td class="text-right">息率：</td>
                <td>{{mortgage_record.marker.expired_rate}}</td>
                <td class="text-right">過期天期：</td>
                <td>{{ mortgage_record.marker.expired_days}}</td>
            </tr>
            <tr>
                <td class="text-right">已還金額：</td>
                <td>{{ (mortgage_record.marker.marker_amount - mortgage_record.marker.settlement_amount)|parseTenThousand}}</td>
                <td class="text-right">未還金額：</td>
                <td>{{ mortgage_record.marker.settlement_amount}} 萬</td>
            </tr>
        </table>

        <table class="table table-bordered table-striped table-detail-01">
            <tr>
                <td class="text-right">還款類型：</td>
                <td width="175">
                    <select data-ng-model="mortgage.is_all"
                            data-ng-required="enableClientValidation"
                            name="is_all"
                            class="form-control">
                        <option value = "">請選擇還款類型</option>
                        <option value = "1">{{repaymentType[1]}}</option>
                        <option value = "0">{{repaymentType[0]}}</option>
                    </select>
                </td>
                <td class="text-right">還款金額：</td>
                <td width="163" align="left">
                    <input type="text" class="form-control input-01 width-83"
                           data-ng-required="enableClientValidation"
                           data-dynamic-name ="amount"
                           data-ng-model="mortgage.refs[0].amount"
                           style="width:120px;"
                           data-ng-disabled="mortgage.is_all == '1'">&nbsp;萬
                </td>
            </tr>
            <tr>
                <td class="text-right">還款戶口：</td>
                <td width="175">{{mortgage_record.marker.agent_code}}</td>
                <td class="text-right">戶口姓名：</td>
                <td width="163">{{mortgage_record.marker.agent_name}} </td>
            </tr>
            <tr>
                <td class="text-right">還款方式：</td>
                <td width="163">{{repaymentMethod[1]}}
                    <!--<select data-ng-model="repayment.repayment_type"-->
                            <!--data-ng-required="enableClientValidation"-->
                            <!--name="repayment_type"-->
                            <!--class="form-control">-->
                        <!--<option value = "">請選擇還款方式</option>-->
                        <!--<option value = "5">{{repaymentMethod[5]}}</option>-->
                        <!--<option value = "2">{{repaymentMethod[2]}}</option>-->
                        <!--<option value = "7">{{repaymentMethod[7]}}</option>-->
                        <!--<option value = "4">{{repaymentMethod[4]}}</option>-->
                        <!--<option value = "1">{{repaymentMethod[1]}}</option>-->
                    <!--</select>-->
                </td>
                <td class="text-right">還款項目：</td>
                <td width="163">本金</td>
            </tr>
            <tr>
                <td class="text-right">存卡：</td>
                <td>{{mortgage_record.mortgage.card_name}}</td>
                <td class="text-right">凍結金額：</td>
                <td> {{mortgage_record.settlement_amount}}萬</td>
            </tr>
            <tr>
                <td class="text-right">備註：</td>
                <td colspan="3"><textarea data-ng-model="mortgage.remark" name="remark" class="form-control textarea-table01" rows="4"></textarea></td>
            </tr>
        </table>

        <table class="table table-bordered table-striped table-detail-01">
            <tr>
                <td class="text-right">操作密碼：

                </td>
                <td class="text-left"><input type="password" ng-model="mortgage.pin_code" name="pin_code" class="form-control input-180" data-enter-key="submit()"></td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-confirm" data-ng-disabled="isDisabled" ng-click="submit()">确定</button>
        <button class="btn btn-cancel" data-ng-disabled="isDisabled" ng-click="cancel()">取消</button>
    </div>
    </form>
</div>
</div>