<div class="page page-services ng-scope" data-ng-controller="mortgageCreateCtrl">
    <div class="panel panel-form-list  col-md-12">
        <div class="panel-heading"><strong>抵押方信息</strong></div>
        <div class="panel-content">
            <form name="form_mortgage" class="ng-valid ng-dirty form-validation" server-validation="POST{{mortgage_url}}">
                <table class="table-shift">
                    <tr>
                        <td>所在廳：</td>
                        <td width="120">{{selectd_hall.hall_name}}</td>
                        <td>日 期：</td>
                        <td width="120">{{now_date}}</td>
                        <td>戶口編號：</td>
                        <td width="120"><input type="text"
                                               data-ng-model="agent_code"
                                               data-input-uppercase="agent_code"
                                               data-ng-required="enableClientValidation"
                                               name="mortgagor_id"
                                               class="form-control" ></td>
                        <td width="50">&nbsp;</td>
                        <td>姓名：</td>
                        <td width="120">{{mortgagor_name}}</td>
                        <td>存卡：</td>
                        <td width="120">
                            <select data-ng-model="record_create.card_id"
                                    class="form-control"
                                    data-ng-required="enableClientValidation"
                                    name="card_id"
                                    data-ng-change="findAmount(record_create.card_id)"
                                    ng-options="h.id as h.card_name for h in depositCards">
                                <option value = "">請選擇存卡</option>
                            </select>
                        </td>
                        <td width="50">&nbsp;</td>
                        <td>存卡餘額：</td>
                        <td>{{transaction_amount}} 萬</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="panel panel-list-detail col-md-12">
        <div class="panel-heading">
            <strong>貸款單信息</strong>
            <button class="btn btn-info btn-information pull-right" ng-click="search()">查詢</button>
            <table class="pull-right" style="font-size: 14px;">
                <tr>
                    <td>戶組：</td>
                    <td width="160"><input type="text"
                                           data-ng-model="condition.agentGroup.agent_group_name"
                                           data-input-uppercase="condition.agentGroup.agent_group_name"
                                           class="form-control">
                    </td>
                    <td width="50">&nbsp;</td>
                    <td>戶口編號：</td>
                    <td width="160">
                        <select data-ng-model="condition.agent_info_id"
                                class="form-control"
                                data-ng-change="findSearchAgentName(condition.agent_info_id)"
                                ng-options="h.id as h.agent_code for h in agent_groups">
                            <option value = "">請選擇戶口</option>
                        </select>
                    </td>
                    <td width="50">&nbsp;</td>
                    <td>姓名：</td>
                    <td width="100">{{search_agent_name}}</td>
                </tr>
            </table>
        </div>
        <div class="panel-content">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <td>戶口編號</td>
                    <td>姓   名</td>
                    <td>所在廳</td>
                    <td>貸款單編號</td>
                    <!--<td>貸款類型</td>-->
                    <td>貸款金額</td>
                    <td>貸款時間</td>
                    <td>業務單號</td>
                    <td>未被抵押金額</td>
                    <td>抵押方式&nbsp;&nbsp;
                        <label><input type="checkbox" data-ng-model="isCheckedAll" ng-change="checkedAll()"/>全部抵押</label>
                    </td>
                    <td>抵押金額</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="marker in markers" data-selected-rows>
                    <td>{{marker.agent_code}}</td>
                    <td>{{marker.agent_name}}</td>
                    <td>{{marker.hall_name}}</td>
                    <td>{{marker.marker_seqnumber}}</td>
                    <!--<td>{{marker.funds_type}}</td>-->
                    <td>{{marker.marker_amount}}</td>
                    <td>{{marker.loanBusiness.loan_time|parseDate:"yyyy-MM-dd HH:mm"}}</td>
                    <td>{{marker.loanBusiness.loan_seqnumber}}</td>
                    <td>{{marker.not_mortgage}}</td>
                    <td>
                        <!--ng-disabled="marker.marker_amount != marker.not_mortgage" -->
                        <label><input type="checkbox"  ng-model="marker.all_mortgage" data-ng-change = "checked(marker,'all')">全部抵押</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" ng-model="marker.sect_mortgage" data-ng-change = "checked(marker,'sect')">部分抵押</label>
                    </td>
                    <td><input class="form-control input-140 ng-pristine ng-valid"
                               type="text"
                               required="enableClientValidation "
                               name="mortgages_{{$index}}_amount"
                               data-ng-disabled="marker.disabled && marker.all_mortgage"
                               data-ng-keyup="settingMortgageAmount(marker)"
                               data-ng-model="marker.mortgage_amount_monney"></td>
                </tr>
                <tr>
                    <td colspan="11" data-ng-show="markers.length==0">
                        沒有滿足條件的數據
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="table-footer">
            <div class="text-right pagination-container">
                <pagination class="pagination-sm"
                            page="current_page"
                            total-items="pagination.total_items"
                            on-select-page="select(page)"
                            max-size = "pagination.max_size"
                            items-per-page = "pagination.items_per_page"
                            data-ng-show="markers.length > 0 && pagination.total_items > pagination.items_per_page"></pagination>
                <paginationselect pageCtrl="pagination" select-page="select"></paginationselect>
            </div>
        </footer>
    </div>
    <div class="panel panel-form-list col-md-12">
        <div class="panel-heading"><strong>新增抵押</strong></div>
        <div class="panel-content">
            <form name="form_search">
                <table>
                    <tr height="50">
                        <td width="120" class="text-right">抵押類型：</td>
                        <td width="209">{{mortgageTypesStatus[record_create.mortgage_type]}}</td>
                        <td width="160" class="text-right">簽額釋放：</td>
                        <td width="209">
                            <input type="radio" ng-model="record_create.is_release" name="is_release" value="1"  ng-checked="true"/> 是&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" ng-model="record_create.is_release" name="is_release" value="0" /> 否
                        </td>
                        <td width="160" class="text-right">抵押金額：</td>
                        <td width="209">{{record_create.mortgage_amount|parseTenThousand}} </td><!--萬-->
                    </tr>
                    <tr height="50">
                        <td width="120" class="text-right">備註：</td>
                        <td colspan="3">
                            <textarea id="remark" class="form-control textarea-table01 ng-pristine ng-valid" name="remark" data-ng-model="record_create.remark" rows="4"></textarea>
                        </td>
                        <td width="120" class="text-right">操作密碼：</td>
                        <td width="209"><input type="password" data-ng-model="record_create.pin_code" name="pin_code" class="form-control" data-enter-key="authorization()"></td>
                    </tr>

                </table>
                <br><br><br>
                <div class="row" style="text-align: center;">
                    <button class="btn btn-confirm margin-right-15" data-ng-disabled="isDesabled" ng-click="authorization()">新增</button>
                    <button class="btn btn-cancel" ng-click="reset()">重置</button>
                </div>
            </form>
        </div>
    </div>

</div>