<div style="position:fixed;z-index: 10;width:91%;height:838px;color:#000;" data-ng-class="bottom">
<p data-ng-hide="show_first" style="border-bottom: 8px solid #A86015; margin: 0px; height: 48px;margin: 0;">
    <!--<a href  ng-click="showOpen(0)" style="padding: 12px 22px 11px 22px;background-color: #33363F;color: #fff;display: inline-block;">戶口匯總</a>-->
    <a href  ng-click="showOpen(1)" style="padding: 12px 22px 11px 22px;margin-left: 10px;background-color: #A86015;color: #fff;display: inline-block;">場面數記錄</a>
</p>
<p data-ng-show="show_first" style="border-bottom: 8px solid #A86015; margin: 0px; height: 48px;margin: 0;">
    <!--<a href  ng-click="showOpen(0)" style="padding: 12px 22px 11px 22px;background-color: #A86015;color: #fff;display: inline-block;">戶口匯總</a>-->
    <a href  ng-click="showOpen(1)" style="padding: 12px 22px 11px 22px;margin-left: 10px;background-color: #A86015;color: #fff;display: inline-block;">場面數記錄</a>
</p>
<div  style="height:820px;background:#242633 ;color:#000;padding:0 0 10px;" >
<div ng-show="show_first">
    <table class="table table-bordered table-striped table-hover table-click">
        <thead>
        <tr>
            <td>廳名</td>
            <td>貸款總額</td>
            <td>存單總額</td>
            <td>存卡總額</td>
            <td>轉碼總額</td>
            <td>消費總額</td>
            <td>佣金</td>
            <td>當月津貼</td>
            <td>上月餘津貼</td>
            <td>剩餘津貼</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>集團</td>
            <td>1300</td>
            <td>0</td>
            <td>1546</td>
            <td>5000</td>
            <td>300</td>
            <td>0</td>
            <td>0</td>
            <td>1000</td>
            <td>700</td>
        </tr>
        <tr>
            <td>永利鉅星</td>
            <td>500</td>
            <td>0</td>
            <td>1546</td>
            <td>5000</td>
            <td>300</td>
            <td>0</td>
            <td>0</td>
            <td>1000</td>
            <td>700</td>
        </tr>
        <tr>
            <td>MGM鉅星</td>
            <td>200</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>新葡京鉅星</td>
            <td>500</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>銀河鉅星</td>
            <td>100</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>海外</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>鉅星榮昌36</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>永利2榮昌會</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>新葡京榮昌會</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>星際</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr><tr>
            <td>新葡京百家</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>威尼斯</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>新濠</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>新濠30樓</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>MGM33</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>


        </tbody>
    </table>
</div>
<div ng-show="show_two">
    <table class="table table-bordered table-striped table-hover table-click">
        <thead>
        <tr >
            <td>場次</td>
            <td>狀態</td>
            <td>戶口編號</td>
            <td>中文姓名</td>
            <td>客人姓名</td>
            <td>入場本金(萬)</td>
            <td>離場本金(萬)</td>
            <td>上下數(萬)</td>
            <td>轉碼數</td>
            <td>所屬廳館</td>
            <td>日期</td>
            <td>開場時間</td>
            <td>離場時間</td>
            <td>經手人</td>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-click="sceneRecord()">

            <td>T0001</td>

            <td>已離場</td>
            <td>FA233</td>
            <td>李達文</td>
            <td>陳明</td>
            <td>250M</td>
            <td>贖 250M+提 50現</td>
            <td style="color:#00ff00;font-weight: bold;">50</td>
            <td>500</td>
            <td>永利鉅星</td>
            <td>2014-08-20</td>
            <td>2014-06-05 11:00</td>
            <td>2014-06-05 14:00</td>
            <td>麥文</td>
        </tr>
        <tr data-ng-click="sceneRecord()">

            <td>T0002</td>
            <td>已離場</td>
            <td>FA233</td>
            <td>李達文</td>
            <td>李洪</td>
            <td>100M</td>
            <td>贖 80M</td>
            <td style="color:red;font-weight: bold;">-20</td>
            <td>100</td>
            <td>永利鉅星</td>
            <td>2014-08-20</td>
            <td>2014-06-05 11:00</td>
            <td>2014-06-05 14:00</td>
            <td>麥文</td>
        </tr>
        <tr data-ng-click="sceneRecord()">

            <td>T0003</td>
            <td>已離場</td>
            <td>FA233</td>
            <td>李達文</td>
            <td>張力</td>
            <td>150M</td>
            <td>贖 150M+提 60現</td>
            <td style="color:#00ff00;font-weight: bold;">60</td>
            <td>200</td>
            <td>永利鉅星</td>
            <td>2014-08-19</td>
            <td>2014-06-05 11:00</td>
            <td>2014-06-05 14:00</td>
            <td>麥文</td>
        </tr>
        <tr data-ng-click="sceneRecord()">

            <td>T0004</td>
            <td>已離場</td>
            <td>FA233</td>
            <td>李達文</td>
            <td>王峰</td>
            <td>80M+20(道具)</td>
            <td>贖 100M +提 20現</td>
            <td style="color:#00ff00;font-weight: bold;">20</td>
            <td>150</td>
            <td>永利鉅星</td>
            <td>2014-08-18</td>
            <td>2014-06-05 11:00</td>
            <td>2014-06-05 14:00</td>
            <td>麥文</td>
        </tr>
        <tr data-ng-click="sceneRecord()">

            <td>T0005</td>

            <td>已離場</td>
            <td>FA233</td>
            <td>李達文</td>
            <td>李芳</td>
            <td>100M</td>
            <td>贖 60M</td>
            <td style="color:red;font-weight: bold;">-40</td>
            <td>100</td>
            <td>MGM鉅星</td>
            <td>2014-08-17</td>
            <td>2014-06-05 11:00</td>
            <td>2014-06-05 14:00</td>
            <td>麥文</td>
        </tr>
        <tr data-ng-click="sceneRecord()">

            <td>T0006</td>

            <td>已離場</td>
            <td>FA233</td>
            <td>李達文</td>
            <td>趙成</td>
            <td>60M</td>
            <td>贖 60M+提 20現</td>
            <td style="color:#00ff00;font-weight: bold;">20</td>
            <td>60</td>
            <td>MGM鉅星</td>
            <td>2014-08-17</td>
            <td>2014-06-05 11:00</td>
            <td>2014-06-05 14:00</td>
            <td>麥文</td>
        </tr>

        </tbody>
    </table>

</div>

</div>
</div>