<div class="modal-header">
    <h3>轉移流量</h3>
</div>
<div class="modal-body">
    <form name="$parent.form_add_transfers" class="form-validation" server-validation="{{sub_post_put}}{{rollingTransfer_url}}">
        <div class="row">
            <div class=" col-md-12">
                <table class="table table-bordered table-striped table-detail-01">
                    <tbody>
                    <tr>
                        <td class="text-right">所在廳：</td>
                        <td >{{hall_name}}</td>
                        <td class="text-right">戶口編號：</td>
                        <td >{{agent_code}}</td>
                        <td class="text-right">戶口姓名：</td>
                        <td >{{agent_name_out}}</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <table class="table table-bordered table-striped table-detail-01">
                    <tbody>
                    <tr>
                        <td width="150">轉出卡：</td>
                        <td width="150">{{card}}</td>
                        <td width="150">本月總額</td>
                        <td width="150">{{card_amount_total}}<span data-ng-show="card_amount_total">萬</span></td>
                    </tr>
                    <tr>
                        <td>轉出流量：</td>
                        <td><input type="text" name="amount" data-ng-model="rollingRecord.amount" class="form-control input-92" ><span>&nbsp;&nbsp;萬</span></td>
                        <td><span data-ng-show="user.hall.hall_type==1 || user.hall.id=='1AE7283167B57D1DE050A8C098155859'">籌碼</span></td><!--|| user.hall.id== '27115D48C5F726D6E050A8C098150716'-->
                        <td><span data-ng-show="user.hall.hall_type==1 || user.hall.id=='1AE7283167B57D1DE050A8C098155859'">{{chips_type}}</span></td>
                    </tr>
                    <tr>
                        <td>轉入戶口：</td>
                        <td ><input type="text" data-input-uppercase name="in_agent_id" data-ng-model="model_con.receive_agent_code" class="form-control"></td>
                        <td>戶口姓名：</td>
                        <td >{{agent_name}}</td>
                    </tr>
                    <tr>
                        <td width="150">截更日期：</td>
                        <td width="150">
                            <p class="input-group ui-datepicker pull-left" style="width:160px;">
                                <input type="text" class="form-control input-92" datepicker-popup="{{format}}" ng-model="rollingRecord.shift_date" name="shift_date" is-open="" atepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-datepicker" ng-click="open($event,0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </td>
                        <td>更数：</td>
                        <td>
                            <select data-ng-model="rollingRecord.shift" class="form-control" ng-options="h.name as h.name for h in shiftMarks.data">
                                <option value = "">請選擇廳館</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>轉入卡：</td>
                        <td >
                            <select data-ng-show="!show_btn" data-ng-model="rollingRecord.in_comm_card_id" name="in_comm_card_id" data-ng-options="card.id as card.card_name for card in commissionCards" class="form-control" >
                                <option value="">請選擇轉入卡</option>
                            </select>
                            <input data-ng-show="show_btn" type="text" data-ng-model="rollingRecord.card_name" data-input-uppercase name="card_name" class="form-control">
                        </td>
                        <td>
                            <button class="btn btn-information btn-table" ng-click="rollingRecordCard()" check-permissions="rollingSummaryTransfer">{{btn_title}}</button>
                            <!--<button class="btn btn-information btn-table" data-ng-show="!show_btn" ng-click="add_rollingRecord()" check-permissions="rollingSummaryTransfer" data-ng-disabled="disable_add">確定</button>-->
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <!--<tr data-ng-show="!show_btn">-->
                        <!--<td>卡名稱：</td>-->
                        <!--<td><input type="text" data-ng-model="card_record.card_name" data-input-uppercase name="card_name" pattern="[A-Za-z0-9]+" title="只能輸入英文字母或數字" class="form-control"></td>-->
                        <!--<td>操作密碼：</td>-->
                        <!--<td>-->
                            <!--<input type="password" data-ng-model="card_record.card_pin_code" name="card_pin_code" class="form-control" data-enter-key="add_rollingRecord(card_name,pin_code)">-->
                        <!--</td>-->
                    <!--</tr>-->
                    <tr>
                        <td>備註：</td>
                        <td colspan="3">
                            <textarea name="remark" maxLength="500" data-ng-model="rollingRecord.remark" rows="4" class="form-control textarea-table01" id="remark"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>操作密碼</td>
                        <td><input type="password" name="pin_code" data-ng-model="rollingRecord.pin_code" class="form-control" data-enter-key="add()"></td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="">
            <div class="row" style="text-align: center;">
                <button class="btn btn-confirm margin-right-15" data-ng-disabled="isDisabled" ng-click="add()">提交</button>
                <button class="btn btn-cancel" data-ng-click="reset()">取消</button>
            </div>
        </div>
    </form>
</div>