<div class="page page-grid" data-ng-controller="rollingSummaryCtrl">
    <div class="panel panel-default">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="panel panel-form-list">
                        <div class="panel-heading"><strong>轉碼卡匯總數</strong></div>
                        <div class="panel-content">
                            <form name="form_search">
                                <table>
                                    <tr height="50">
                                        <td width="80" class="text-right">廳館：</td>
                                        <td width="150" data-ng-show="user.isAllHall()">
                                            <select data-ng-model="condition.hall_id" class="form-control" ng-options="h.id as h.hall_name for h in halls">
                                                <option value = "">請選擇廳館</option>
                                            </select>
                                        </td>
                                        <td width="100" data-ng-hide="user.isAllHall()">
                                            {{user.hall.hall_name}}
                                        </td>
                                        <td width="120" data-min-screen-width="100" class="text-right">戶口編號：</td>
                                        <td width="130"><input type="text"
                                                               data-ng-model="condition.agentInfo.agent_code"
                                                               data-input-uppercase="condition.agentInfo.agent_code"
                                                               class="form-control"></td>
                                        <td width="120" data-min-screen-width="100" class="text-right">戶口姓名：</td>
                                        <td width="100">{{agent_contact_name}}</td>

                                        <td width="120" data-min-screen-width="100" class="text-right">轉碼卡：</td>
                                        <td width="150" data-min-screen-width="185">
                                            <select data-ng-model="condition.commission_card_id" class="form-control" ng-options="h.id as h.card_name for h in commissionCards">
                                                <option value = "">請選擇轉碼卡</option>
                                            </select>
                                        </td>
                                        <td width="120" data-min-screen-width="100" class="text-right">年月：</td>
                                        <td width="160">
                                            <table class="table-inner">
                                                <tr>
                                                    <td>
                                                        <p class="input-group ui-datepicker">
                                                            <input type="text" class="form-control" datepicker-popup datepicker-mode="month" data-ng-model="condition.year_month[0]" />
                                                                <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default btn-datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                </span>
                                                        </p>
                                                    </td>
                                                    <!--<td  class="text-center" width="15">月</td>-->
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr height="50">
                                        <td width="120" class="text-right">戶組：</td>
                                        <td width="140" data-min-screen-width="165">
                                            <input type="text"
                                                   data-ng-model="condition.agent_group_name"
                                                   data-input-uppercase
                                                   class="form-control">
                                        </td>
                                        <td width="120" class="text-right">日期：</td>
                                        <td colspan="3">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <p class="input-group ui-datepicker pull-left" data-min-screen-width="120">
                                                            <input type="text" class="form-control input-92" datepicker-popup="{{format}}" ng-model="condition.date[0]" is-open="" atepicker-options="dateOptions"  close-text="Close" />
                                                                <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default btn-datepicker" ng-click="open($event,0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                </span>
                                                        </p>
                                                    </td>
                                                    <td width="20" align="center">~&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                        <p class="input-group ui-datepicker pull-left" data-min-screen-width="120">
                                                            <input type="text" class="form-control input-92" datepicker-popup="{{format}}" ng-model="condition.date[1]" is-open="" atepicker-options="dateOptions" close-text="Close" />
                                                                <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default btn-datepicker" ng-click="open($event,0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                </span>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="120" class="text-right" data-ng-show="user.hall.id=='1AE7283167B57D1DE050A8C098155859'">籌碼：</td>
                                        <td width="150" data-ng-show="user.hall.id=='1AE7283167B57D1DE050A8C098155859'"><!--user.hall.hall_type==1 ||-->
                                            <select data-ng-model="condition.chips_type"
                                                    class="form-control"
                                                    ng-options="h.id as h.name for h in chipsTypes.data">
                                                <option value="">請選擇籌碼</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table><br/><br/>
                                <div class="row" style="text-align: center;">
                                    <button class="btn btn-info btn-information margin-right-15" ng-click="select()">查詢</button>
                                    <button class="btn btn-inf btn-cancel" data-ng-click="reset()">重置</button>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                    <div class="panel panel-list-detail">
                        <div class="panel-heading">
                            <!--<button class="btn btn-information margin-right-15 pull-right" ng-click="">&nbsp;&nbsp;&nbsp;&nbsp;列印&nbsp;&nbsp;&nbsp;&nbsp;</button>-->
                            <button class="btn btn-information margin-right-15 pull-right" report-params="excel_condition" channel-type="RollingTotal1" report-btn>導出EXCEL</button>
                        </div>
                        <div class="panel-content table-dynamic">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <td>廳館</td>
                                    <td data-td-sort data-td-sort-up="agent_code NUMASC" data-td-sort-down="agent_code NUMDESC" data-td-sort-select="select" data-td-sort-pagination="pagination" data-min-screen-width="100">戶口編號</td>
                                    <td>戶口姓名</td>
                                    <td data-td-sort data-td-sort-up="card_name NUMASC" data-td-sort-down="card_name NUMDESC" data-td-sort-select="select" data-td-sort-pagination="pagination" data-min-screen-width="100">轉碼卡</td>
                                    <!--<td data-ng-show="user.hall.id=='1AE7283167B57D1DE050A8C098155859'">籌碼</td>-->
                                    <td data-ng-show="user.hall.id=='1AE7283167B57D1DE050A8C098155859'">籌碼</td>
                                    <td>查詢總額(萬)</td>
                                    <td>本月總額(萬)</td>
                                    <!--<td>日期</td>-->
                                    <!--<td>更數</td>-->
                                    <td width="200" check-permissions="rollingSummaryTransfer,rollingSummaryView">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="rollingCardAmount in rollingCardAmounts" data-selected-rows>
                                    <td>{{rollingCardAmount.hall_name}}</td>
                                    <td>{{rollingCardAmount.agent_code}}</td>
                                    <td>{{rollingCardAmount.agent_name}}</td>
                                    <td>{{rollingCardAmount.card_name}}</td>
                                    <!--<td data-ng-show="user.hall.id=='1AE7283167B57D1DE050A8C098155859'">{{chipsTypes.items[rollingCardAmount.chips_type]}}</td>&lt;!&ndash;user.hall.hall_type==1 || &ndash;&gt;-->
                                    <td data-ng-show="user.hall.id=='1AE7283167B57D1DE050A8C098155859'">{{chipsTypes.items[rollingCardAmount.chips_type]}}</td><!--user.hall.hall_type==1 || -->
                                    <td>{{rollingCardAmount.rollingCard_amount_day|parseTenThousand2}}</td>
                                    <td>{{rollingCardAmount.rollingCard_amount|parseTenThousand2}}</td>
                                    <!--<td>{{rollingCardAmount.shift_date}}</td>-->
                                    <!--<td>{{rollingCardAmount.shift}}</td>-->
                                    <td check-permissions="rollingSummaryTransfer,rollingSummaryView">
                                        <button class="btn btn-information btn-table" ng-click="rollingRecord(rollingCardAmount)" check-permissions="rollingSummaryTransfer">轉移流量</button>
                                        <button class="btn btn-confirm btn-table" data-ng-click="detail(rollingCardAmount.rollingCard_amount_day,rollingCardAmount.rollingCard_amount_id,rollingCardAmount.agent_code,rollingCardAmount.agent_name,rollingCardAmount.card_name)" check-permissions="rollingSummaryView">詳細</button>
                                    </td>
                                </tr>
                                <tr data-ng-show="rollingCardAmounts.length == 0">
                                    <td colspan="8">暫無符合條件的記錄</td>
                                </tr>
                                <tr>
                                    <td colspan="6"></td>
                                    <td colspan="2">合計：{{rolling_amount_sum.total|parseTenThousand}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <footer class="table-footer">
                                <div class="text-right pagination-container">
                                    <pagination class="pagination-sm"
                                                page="pagination.page"
                                                total-items="pagination.total_items"
                                                on-select-page="select(page)"
                                                max-size = "pagination.max_size"
                                                items-per-page = "pagination.items_per_page"
                                                data-ng-show="loans.length != 0 && pagination.total_items > pagination.items_per_page"></pagination>
                                    <paginationselect pageCtrl="pagination" select-page="select"></paginationselect>
                                </div>
                            </footer>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
